<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/SC009-Error-Handling-and-Field-Manipulation.js"></script>
<script src="/public/javascripts/SC004-Error-Handling-and-Field-Manipulation.js"></script>
<script src="/public/javascripts/SC004c-Error-Handling-and-Field-Manipulation.js"></script>
<script src="/public/javascripts/SC010-Error-Handling-and-Field-Manipulation.js"></script>
<script src="/public/javascripts/SC011-Error-Handling-and-Field-Manipulation.js"></script>
{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
