{% extends "layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "details/macro.njk" import govukDetails %}
{% from "select/macro.njk" import govukSelect %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{{ govukBackLink({
text: "Back",
href: "/AATF-Returns/SC004-Non-Obligated-WEEE"
}) }}

<h2 class="govuk-heading-l">Select facility</h2>

<p>Some guidance here on what to do</p>
<form action="/AATF-Returns/facility-save" method="post" class="form">
  {{ govukSelect({
  id: "facilitySelect",
  name: "facilitySelect",
  classes: "govuk-!-width-one-half",
  items: [
  {
  value: "Facility 1",
  text: "Facility 1 - ATF/AB12345/WEEE"
  },
  {
  value: "Facility 2",
  text: "Facility 2 - ATF/AB12345/WEEE"
  },
  {
  value: "Facility 3",
  text: "Facility 3 - ATF/AB12345/WEEE"
  },
  {
  value: "Facility 4",
  text: "Facility 4 - ATF/AB12345/WEEE"
  }
  ]
  }) }}


  <details class="govuk-details govuk-!-width-two-thirds">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        The facility I want is not on the list
      </span>
    </summary>
    <div class="govuk-body govuk-!-font-size-14">
    <div class="govuk-details__text ">
      If the facility that you require is not on the list, then please contact the environment agency via email
    </div>
    <div class="govuk-details__text govuk-!-padding-top-0">
      environment_agency@ea.gov.uk
    </div>
  </div>
  </details>

  {{ govukButton({
  text: "Save and continue"
  }) }}
</form>
{% endblock %}