{% extends "layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{%- from "tag/macro.njk" import govukTag -%}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{{ govukBackLink({
text: "Back",
href: "/AATF-Returns/SC007-AATF-Tasklist"
}) }}
<style>
    .weee-table td {
        border-bottom: 0px;
        padding-bottom: 0px;
        width: 75%;
    }
</style>
<h2 class="govuk-heading-l">Check your AATF return</h2>
<div class="govuk-!-padding-bottom-9"></div>
<p style="display: inline">Please check and review your AATF return before you proceed to submit</p>
<strong class="govuk-tag" style="float:right">
    {{ data['schemeSelect'] }}
</strong>
<div class="govuk-!-padding-bottom-9"></div>
<h2 class="govuk-heading-l">{{ data['schemeSelect'] }}</h2>
<table class="govuk-table govuk-!-width-one-half" style="display: inline-table">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-body govuk-!-font-weight-bold">Compliance year</td>
        <td class="govuk-table__cell">{{ data['compliance-year'] }}</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-body govuk-!-font-weight-bold">Reporting period</td>
        <td class="govuk-table__cell">{{ data['reporting-period'] }}</td>
    </tr>
</table>
<a href="/AATF-Returns/SC003a-AATF-Reporting-Details-Change" class="govuk-link govuk-link--no-visited-state" style="float: right">Change</a>
<div class="govuk-!-padding-bottom-4"></div>
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Facility Name</th>
            <th class="govuk-table__header" scope="col">Approval No</th>
            <th class="govuk-table__header" scope="col">Street</th>
            <th class="govuk-table__header" scope="col">Town</th>
            <th class="govuk-table__header" scope="col">Country</th>
            <th class="govuk-table__header" scope="col">Post Code</th>
            <th class="govuk-table__header" scope="col"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell ">{{ data['facilitySelect'] }}</td>
            <td class="govuk-table__cell ">ATF/AB12345/WEEE</td>
            <td class="govuk-table__cell ">1 Waterloo Avenue</td>
            <td class="govuk-table__cell ">Woking</td>
            <td class="govuk-table__cell ">United Kingdom</td>
            <td class="govuk-table__cell ">GU21 BUY</td>
            <td class="govuk-table__cell govuk-!-padding-left-2"><a href="/AATF-Returns/SC005a-Select-Facility-Change"
                    class="govuk-link govuk-link--no-visited-state">Change</a></td>
        </tr>
    </tbody>
</table>
<table class="govuk-table">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <details class="govuk-details">
                <summary class="govuk-details__summary govuk-!-width-one-third">
                    <span class="govuk-details__summary-text">
                        Non-obligated WEEE
                </summary>
                <table id="non-obligated-WEEE-table" class="govuk-table govuk-!-width-one-half weee-table" style="float: right">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Large household appliances
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['large-household-appliances-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Small household appliances
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['small-household-appliances-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            IT and telecomms equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['it-and-telecomms-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Consumer equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['consumer-equipment-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Lighting equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['lighting-equipment-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Electrical and electronic tools
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['electrical-and-electronic-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Toys, leisure and sport
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['toys-leisure-sports-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Medical devices
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['medical-devices-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Monitoring and control instruments
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['monitoring-control-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Automatic dispensers
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['automatic-dispensers-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Display equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['display-equipment-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Cooling appliances
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['cooling-appliance-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Gas discharge lamps and LED light sources
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['gas-discharge-led-input-SC004']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Photovolatic panels
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['photovolatic-panels-input-SC004']}}
                        </td>
                    </tr>
                </table>
            </details>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <details class="govuk-details">
                <summary class="govuk-details__summary govuk-!-width-one-third">
                    <span class="govuk-details__summary-text">
                        WEEE reused as a whole appliance for which evidence has been issued
                </summary>
                <table id="WEEE-whole-appliance-table" class="govuk-table govuk-!-width-one-half weee-table" style="float: right">
                    <!--
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Operator Details
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-width-three-quarters">
                            Street
                        </td>
                        <td class="govuk-table__cell">
                            1 Waterloo Avenue
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Town
                        </td>
                        <td class="govuk-table__cell">
                            Woking
                        </td>
                        <td class="govuk-table__cell">
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            Country
                        </td>
                        <td class="govuk-table__cell">
                            United Kingdom
                        </td>
                        <td class="govuk-table__cell">
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-padding-bottom-4">
                            Postcode
                        </td>
                        <td class="govuk-table__cell govuk-!-padding-bottom-4">
                            GU21 8UY
                        </td>
                        <td class="govuk-table__cell govuk-!-padding-bottom-4">
                        </td>
                    </tr>
                -->
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Large household appliances
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['large-household-appliances-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['large-household-appliances-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Small household appliances
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['small-household-appliances-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['small-household-appliances-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            IT and telecomms equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['it-and-telecomms-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['it-and-telecomms-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Consumer equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['consumer-equipment-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['consumer-equipment-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Lighting equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['lighting-equipment-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['lighting-equipment-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Electrical and electronic tools
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['electrical-and-electronic-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['electrical-and-electronic-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Toys, leisure and sport
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['toys-leisure-sports-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['toys-leisure-sports-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Medical devices
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['medical-devices-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['medical-devices-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Monitoring and control instruments
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['monitoring-control-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['monitoring-control-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Automatic dispensers
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['automatic-dispensers-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['automatic-dispensers-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Display equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['display-equipment-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['display-equipment-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Cooling appliances
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['cooling-appliance-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['cooling-appliance-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Gas discharge lamps and LED light sources
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['gas-discharge-led-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['gas-discharge-led-input-SC010-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Photovolatic panels
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['photovolatic-panels-input-SC010']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['photovolatic-panels-input-SC010-b2c']}}
                        </td>
                    </tr>
                </table>
            </details>
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <details class="govuk-details">
                <summary class="govuk-details__summary govuk-!-width-one-third">
                    <span class="govuk-details__summary-text">
                        Whole WEEE sent to another ATF for treatment
                </summary>
                <table id="WEEE-ATF-treatment-table" class="govuk-table govuk-!-width-one-half weee-table" style="float: right">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Large household appliances
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['large-household-appliances-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['large-household-appliances-input-SC011']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Small household appliances
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['small-household-appliances-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['small-household-appliances-input-SC011']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            IT and telecomms equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['it-and-telecomms-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['it-and-telecomms-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Consumer equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['consumer-equipment-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['consumer-equipment-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Lighting equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['lighting-equipment-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['lighting-equipment-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Electrical and electronic tools
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['electrical-and-electronic-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['electrical-and-electronic-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Toys, leisure and sport
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['toys-leisure-sports-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['toys-leisure-sports-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Medical devices
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['medical-devices-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['medical-devices-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Monitoring and control instruments
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['monitoring-control-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['monitoring-control-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Automatic dispensers
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['automatic-dispensers-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['automatic-dispensers-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Display equipment
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['display-equipment-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['display-equipment-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Cooling appliances
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['cooling-appliance-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['cooling-appliance-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Gas discharge lamps and LED light sources
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['gas-discharge-led-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['gas-discharge-led-input-SC011-b2c']}}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Photovolatic panels
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['photovolatic-panels-input-SC011']}}
                        </td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold">
                            {{data['photovolatic-panels-input-SC011-b2c']}}
                        </td>
                    </tr>
                </table>
            </details>
        </td>
    </tr>
</table>
<form action="/AATF-Returns/submit-aatf-return" method="post" class="form">
    {{ govukButton({
    text: "Submit"
    }) }}
</form>
{% endblock %}