// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

@import "conditionals";
@import "typography";
@import "colours";
@import "css3";
@import "shims";
@import "measurements";

$panel-colour: $grey-3;
$border-colour: $grey-2;

.section-tabs {
		@extend %contain-floats;
	    border-bottom: 1px solid $border-colour;
		margin: 1.5em 0;
		@include media(mobile) {
	    	border-bottom: none;
			margin: $gutter 0;
		}
	    ul {
			position: relative;
			top: 1px;
			margin: 0;
			padding: 0;


			li {
			  	margin: 0;
				padding: 0;
			  	float: left;
			  	display: inline;
			  	list-style: none;
			  	@include media(mobile) {
			  		float: none;
			  		display: block;
				}
			}

			a {
				@include core-19;
				font-weight: normal;
        font-size: 16px !important;
        color: #000;
				display: block;
				overflow: hidden;
				margin: 5px 5px 6px 0;
				padding: 5px 0;
				text-decoration: none;
				background: $panel-colour;
				border: 1px solid $panel-colour;
				border-bottom: none;

				&:hover,
				&:focus {
					.label {
						text-decoration: underline;
				    }
				}

			  	@include media(mobile) {
					@include core-16;
					border-bottom: 1px solid $border-colour;
					width: 98.5%;
  					@include calc(width, "100% - 10px");
					margin: 5px 0 0 0;
					padding: 5px 0 5px 5px;
					text-decoration: underline;
					font-weight: normal;
				}

				@include media(tablet) {
				    padding: 11px 14px 9px 9px;
				}

				@include ie(6) {
				    float: left;
				}
			}

			li.active a {
			  	background: $white;
			  	padding: 10px 9px 10px;
			  	margin: 0 5px 0 0;
			  	border-color: $border-colour;
          font-size: 16px;
			  	@include media(mobile) {
					border-bottom: 1px solid $border-colour;
					width: 98.5%;
  					@include calc(width, "100% - 10px");
					padding: 5px 0 5px 5px;
					margin: 5px 0 0 0;
					text-decoration: none;
					font-weight: normal;
				}

			  	@include media(tablet) {
			    	padding: 16px 19px 15px 14px;
			  	}

			  	&:focus {
			    	outline: none;
			  	}

			  	.label {
			   		text-decoration: none;
			  	}
			}

			&.two-tabs li {
			  	width: 50%;

			  	@include media(desktop) {
			    	width: auto;
			    	min-width: 33.333%;
			  	}

			  	@include ie(7) {
			    	min-width: 0%;
			  	}
			}
	}
	&.plain-tabs {
		.tab-navigation {
			ul li {
				a {
					background-color: $white;
					border:none;
					text-decoration:underline;
					font-weight:normal;
          font-size: 16px;

				}
				&.active a {
					border: 1px solid $panel-colour;
				    border-bottom: none;
            font-size: 16px;
				}
			}
		}
	}
}


// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.phase-banner-alpha  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.phase-tag-alpha {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

// Related links
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.related-links {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
  }
}
