{% extends "version-2/layout.html" %}

{% block pageTitle %}
  Choose an activity
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" style="font-weight: 600; font-family: arial;">What activity would you like to do?</h1>

      <form class="form" action="/manage-evidence-redirect" method="post">

		{{ govukRadios
			({
			  idPrefix: "choose-activity",
			  name: "choose-activity",
			  fieldset: 
			  {
				legend: 
				{
				  text: "",
				  isPageHeading: true,
				  classes: "govuk-fieldset__legend--l"
				}
			  },
			  items: 
			  [
				{
				  value: "1",
				  text: "Manage AATF returns"
				},
				{
				  value: "2",
				  text: "Manage AATF contact details"
				},
				{
				  value: "3",
				  text: "Manage AE returns"
				},
				{
				  value: "4",
				  text: "Manage AE contact details"
				},
				{
				  value: "5",
				  text: "View organisation details"
				},
				{
				  value: "6",
				  text: "Manage organisation users"
				},
				{
				  value: "7",
				  text: "Manage evidence notes",
				  checked: true
				}
			  ]
			}) 
		}}


		{{ govukButton({
			text: "Continue"
		  }) }}

		<div><a href="#" class="element-spacer govuk-back-link" style="font-size: 20px;">Access another organisation</a></div>

      </form>

    </div>
  </div>

{% endblock %}
