{% extends "version-2/layout.html" %}

{% block pageTitle %}
  Edit evidence note
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form class="form" action="/url/of/next/page" method="post">
	  
		<h1 class="govuk-heading-l">Enter evidence note details</h1>
	  
		<input type="hidden" value="Reference number: 1673" />
	  
		<h3 class="govuk-heading-m">Period in which WEEE was recieved for treatment</h3>

		<div class="govuk-!-padding-bottom-7 govuk-grid-column-two-thirds">
			<div class="govuk-label--s" style="float: left; font-weight: 300;">Start date<br /><input type="Date" value="Date" style="font-size: 18px; padding: 5px 0 5px 0; border: 2px solid black; width: 240px;" /></div>
			<div class="govuk-label--s" style="float: right; font-weight: 300;">End date<br /><input type="Date" value="Date" style="font-size: 18px; padding: 5px 0 5px 0; border: 2px solid black; width: 240px;" /></div>
		</div>
		
		<div class="govuk-!-padding-bottom-7 govuk-grid-column-two-thirds">
		
			<input class="govuk-select" style="width: 244px;" type="text" name="example" list="recipientsList" value="Recipient name">
			<datalist id="recipientsList">
				<option value="ABB 1 Ltd" />
				<option value="ABB 2 Ltd" />
				<option value="ABB 3 Ltd" />
				<option value="NBC 1 Ltd" />
				<option value="NBC 2 Ltd" />
				<option value="NBC 3 Ltd" />
				<option value="CBS 1 Ltd" />
				<option value="CBS 2 Ltd" />
				<option value="CBS 3 Ltd" />
				<option value="PBS 1 Ltd" />
				<option value="PBS 2 Ltd" />
				<option value="PBS 3 Ltd" />
			</datalist>

			<select class="govuk-select" style="width: 244px; float: right;" text="Compliance year">
				<option value="0">Compliance year</option>
				<option value="1">2022</option>
				<option value="2">2021</option>
				<option value="3">2020</option>
			</select>		
		</div>
		
		<div class="govuk-!-padding-bottom-7 govuk-grid-column-two-thirds">
		
			<select class="govuk-select" style="width: 244px;" text="type of waste">
				<option value="0">Type of waste</option>
				<option value="1">Household</option>
				<option value="2">Non-household</option>
			</select>		

			<select class="govuk-select" style="width: 244px; float: right;" text="Actual or protocol">
				<option value="0">Actual or protocol</option>
				<option value="0">Actual</option>
				<option value="1">National protocol</option>
				<option value="2">Site protocol</option>
				<option value="3">Re-use network weights</option>
			</select>		
		</div>
		
		<div style="clear: both; height: 40px;">&nbsp;</div>
	  
		<p>
			Input tonnage below
			<br />
			Provide tonnage to 3 decimal places. For example 1.238
		</p>
	  
		<a href="#" class="govuk-link">Use copy and paste to populate the table</a>
		
		<div class="element-spacer">
		
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr>
						<th scope="col" class="govuk-table__header dynamic-col-1">Category</th>
						<th scope="col" class="govuk-table__header dynamic-col-2">Total received (tonnes)</th>
						<th scope="col" class="govuk-table__header dynamic-col-3">Re-used as whole appliances (tonnes)</th>
						<th scope="col" class="govuk-table__header dynamic-col-4">
							<select class="govuk-select govuk-table__header civica-select">
								<option>Actual/Protocol</option>
								<option>actual</option>
								<option>protocol</option>
							</select>
						</th>
					</tr>
				</thead>
				
				
				<tbody class="govuk-table__body">
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">1- Large household appliances</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" value="12.105" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" value="3.150" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">2- Small household appliances</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" value="10.500" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" value="8.100" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">3- IT and telecommunications equipment</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">4- Consumer equipment</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">5- Lighting equipment</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">6- Electrical and electronic tools</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">7- Toys, leisure and sports equipment</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">8- Medical devices</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">9- Monitoring and control instruments</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">10- Automatic dispensers</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">11- Display equipment</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">12- Cooling appliances containing refridgerants</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">13- Gas discharge lamps</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell dynamic-col-1">14- Photovoltaic panels</td>
						<td class="govuk-table__cell dynamic-col-2"><input type="text" class="civica-textfield" value="22.605" /></td>
						<td class="govuk-table__cell dynamic-col-3"><input type="text" class="civica-textfield" value="11.250" /></td>
						<td class="govuk-table__cell dynamic-col-4 civica-visibility"><select class="govuk-select govuk-table__header civica-select"> <option>actual</option> <option>protocol</option> </select></td>
					</tr>

				</tbody>
			</table>
		
		</div>
		
		<div>
		
		{{ govukButton({
			text: "Submit evidence note"
		  }) }}

		{{ govukButton({
			text: "Save as draft"
		  }) }}
		<button class="grey-button">Save as draft</button>

		</div>

      </form>

    </div>
  </div>

{% endblock %}
