{% extends "version-2/layout.html" %}

{% block pageTitle %}
  View submitted evidence note
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form class="form" action="/url/of/next/page" method="post">
	  
		<h1 class="govuk-heading-l">Evidence note 1389</h1>

		<div style="font-size: 18px;">
		<div><span class="govuk-label--s govuk-!-width-one-third">Status:</span> <span class="govuk-body govuk-!-margin-left-2">Submitted</span></div>
		<div><span class="govuk-label--s govuk-!-width-one-third">Date created:</span> <span class="govuk-body govuk-!-margin-left-2">11/11/2021 11:32:40</span></div>
		<div><span class="govuk-label--s govuk-!-width-one-third">Date submitted:</span> <span class="govuk-body govuk-!-margin-left-2">12/11/2021 10:28:37</span></div>
		<div><span class="govuk-label--s govuk-!-width-one-third">Compliance period:</span> <span class="govuk-body govuk-!-margin-left-2">2021</span></div>
		<div><span class="govuk-label--s govuk-!-width-one-third">Type of waste:</span> <span class="govuk-body govuk-!-margin-left-2">Household</span></div>
		<div><span class="govuk-label--s govuk-!-width-one-third">Actual or protocol:</span> <span class="govuk-body govuk-!-margin-left-2">Actual</span></div>
		</div>

		<div style="clear: both; height: 40px;">&nbsp;</div>
		
		<div class="govuk-width-container govuk-!-width-two-third" style="font-size: 18px;">
		
			<div class="govuk-grid-column-one-third govuk-!-width-one-third" style="border: 0px solid red;">  
				<div class="govuk-grid-column-one-half govuk-label--s" style="border: 0px solid black;">Issuing site:</div>
				<div class="govuk-grid-column-one-half govuk-body" style="border: 0px solid black;">
					ABB ltd <br />
					12 May Lane <br />
					Hammersmith <br />
					London <br />
					SW13 TYH
				</div>
			</div>
			
			<div class="govuk-grid-column-one-third govuk-!-width-one-third" style="border: 0px solid red;">  
				<div class="govuk-grid-column-one-half govuk-label--s" style="border: 0px solid black;">Operator:</div>
				<div class="govuk-grid-column-one-half govuk-body" style="border: 0px solid black;">
					ABB ltd <br />
					12 May Lane <br />
					Hammersmith <br />
					London <br />
					SW13 TYH
				</div>
			</div>
			
			<div class="govuk-grid-column-one-third govuk-!-width-one-third" style="border: 0px solid red;">  
				<div class="govuk-grid-column-one-half govuk-label--s" style="border: 0px solid black;">Receiving PCS:</div>
				<div class="govuk-grid-column-one-half govuk-body" style="border: 0px solid black;">
					PCS6 <br />
					1 Bart avenue <br />
					Reading <br />
					RG1 ATR
				</div>
			</div>
		
		</div>
		
		<div style="clear: both; height: 40px;">&nbsp;</div>
			  
		<p>
			By submitting this information you confirm that the following waste and electronic equipment from UK household has been recieved between <b>10/09/2021</b> and <b>10/11/2021</b> at this site. It has been reused as whole appliances to the extent set out below. No other evidence has been issued on these WEEE materials
		</p>

		
		<div style="clear: both; height: 40px;">&nbsp;</div>
	  
		<div class="element-spacer">
		
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr>
						<th scope="col" class="govuk-table__header dynamic-col-1">Category</th>
						<th scope="col" class="govuk-table__header dynamic-col-2">Total received (tonnes)</th>
						<th scope="col" class="govuk-table__header dynamic-col-3">Reused as whole appliances (tonnes)</th>
					</tr>
				</thead>
				
				
				<tbody class="govuk-table__body">
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">1- Large household appliances</td>
						<td class="govuk-table__cell">48</td>
						<td class="govuk-table__cell">2</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">2- Small household appliances</td>
						<td class="govuk-table__cell">21</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">3- IT and telecommunications equipment</td>
						<td class="govuk-table__cell">1</td>
						<td class="govuk-table__cell">1</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">4- Consumer equipment</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">5- Lighting equipment</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">6- Electrical and electronic tools</td>
						<td class="govuk-table__cell">14</td>
						<td class="govuk-table__cell">3</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">7- Toys, leisure and sports equipment</td>
						<td class="govuk-table__cell">32</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">8- Medical devices</td>
						<td class="govuk-table__cell">11</td>
						<td class="govuk-table__cell">1</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">9- Monitoring and control instruments</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">10- Automatic dispensers</td>
						<td class="govuk-table__cell">3</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">11- Display equipment</td>
						<td class="govuk-table__cell">1</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">12- Cooling appliances containing refridgerants</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">13- Gas discharge lamps</td>
						<td class="govuk-table__cell">5</td>
						<td class="govuk-table__cell">1</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">14- Photovoltaic panels</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<th class="govuk-table__cell">Total</th>
						<th class="govuk-table__cell">136</th>
						<th class="govuk-table__cell">8</th>
					</tr>

				</tbody>
			</table>
		
		</div>
		
		{{ govukButton({
			text: "Download as PDF"
		  }) }}

      </form>

    </div>
  </div>

{% endblock %}
