{% extends "layout.html" %}

{% block pageTitle %}
  Choose an AATF site
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="border: 0px solid black;">

      <h1 class="govuk-heading-l">Manage evidence notes for ABB1</h1>
	  
	  <button class="govuk-button" data-module="govuk-button">Create new evidence note</button>


      <form class="form" action="/url/of/next/page" method="post">
	  
		<div class="element-spacer">
			<label for="toto1" style="font-size: 18px; padding: 5px;">Search by reference number</label><br />
			<input type="textbox" name="toto1" style="font-size: 18px; padding: 5px; border: 2px solid black; width: 300px;" />
		</div>
		
		<div class="element-spacer">
		
			<label style="font-size: 18px; padding: 5px;">Filter by:</label>
			
			<table>
				<tr>
				
				<td>
					<input type="Date" value="Date" style="font-size: 18px; padding: 5px; border: 2px solid black;" />
				</td>
				
				<td>
					<select class="govuk-select" text="Compliance year">
						<option value="0">Compliance year</option>
						<option value="1">2020</option>
						<option value="2">2021</option>
						<option value="3">2022</option>
					</select>
				</td>
				
				<td>
					<select class="govuk-select" text="Issued to">
						<option value="0">Issued to</option>
						<option value="1">ABB 1 Ltd</option>
						<option value="2">ABB 2 Ltd</option>
						<option value="3">ABB 3 Ltd</option>
					</select>
				</td>
				
				<td>
					<select class="govuk-select" text="Type">
						<option value="0">Type</option>
						<option value="1">Household</option>
						<option value="2">Shop</option>
						<option value="3">Service company</option>
					</select>
				</td>
				
				<td>
					<select class="govuk-select" text="Status">
						<option value="0">Status</option>
						<option value="1">Draft</option>
						<option value="2">Submitted</option>
						<option value="3">Approved</option>
						<option value="4">Rejected</option>
						<option value="5">Returned</option>
						<option value="6">Void</option>
					</select>
				</td>
				
				<td>
					<select class="govuk-select" text="Category">
						<option value="0">Category</option>
						<option value="1">Category 1</option>
						<option value="2">Category 2</option>
						<option value="3">Category 3</option>
					</select>
				</td>
				
				</tr>
			<table>
		
		</div>
		
		<div class="element-spacer">
		<table class="govuk-table">
		  <thead class="govuk-table__head">
		  
			<tr class="govuk-table__row">
			  <th scope="col" class="govuk-table__header">Reference number</th>
			  <th scope="col" class="govuk-table__header">Submitted date (GMT)</th>
			  <th scope="col" class="govuk-table__header">Issued to</th>
			  <th scope="col" class="govuk-table__header">Type</th>
			  <th scope="col" class="govuk-table__header">Status</th>
			  <th scope="col" class="govuk-table__header">&nbsp;</th>
			</tr>
		  </thead>
		  
		  <tbody class="govuk-table__body">
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1279</td>
			  <td class="govuk-table__cell">-</td>
			  <td class="govuk-table__cell">PCS1</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Draft</td>
			  <td class="govuk-table__cell">
				<a = href="#">View</a>
				<a = href="#">Edit</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1389</td>
			  <td class="govuk-table__cell">12/11/2021</td>
			  <td class="govuk-table__cell">PCS2</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Submitted</td>
			  <td class="govuk-table__cell">
				<a = href="#">View</a>
				<a = href="#">Edit</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1486</td>
			  <td class="govuk-table__cell">13/11/2021</td>
			  <td class="govuk-table__cell">PCS3</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Approved</td>
			  <td class="govuk-table__cell">
				<a = href="#">View</a>
				<a = href="#">Edit</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1499</td>
			  <td class="govuk-table__cell">13/11/2021</td>
			  <td class="govuk-table__cell">PCS4</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Rejected</td>
			  <td class="govuk-table__cell">
				<a = href="#">View</a>
				<a = href="#">Edit</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1543</td>
			  <td class="govuk-table__cell">14/11/2021</td>
			  <td class="govuk-table__cell">PCS5</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Returned</td>
			  <td class="govuk-table__cell">
				<a = href="#">View</a>
				<a = href="#">Edit</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1599</td>
			  <td class="govuk-table__cell">14/11/2021</td>
			  <td class="govuk-table__cell">PCS6</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Void</td>
			  <td class="govuk-table__cell">
				<a = href="#">View</a>
				<a = href="#">Edit</a>
			  </td>
			</tr>
			
			<tr>
			  <td class="govuk-table__cell" colspan="3" style="border-bottom: 0px;">Showing 1-6 of 50</td>
			  <td class="govuk-table__cell" colspan="3" style="border-bottom: 0px; padding-right: 8px;">
				<span style="float: right;">
				Prev 1 
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">Next</a>
				</span>
			  </td>
			</tr>
		  </tbody>
		  
		</table>
		</div>

      </form>

    </div>
  </div>

{% endblock %}
