{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}


<!-- #EndEditable -->
</head>

<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>




<!--end header-->



<main id="content">
	<div class="phase-banner">
			<p>
					<strong class="phase-tag">BETA</strong>
					<span>This is a new service – your <a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
			</p>
	</div>

  <!-- #BeginEditable "banner" -->
<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
            <ul>
                <li>
                    Organisation: Loads of Schemes Ltd
                </li>

                <li>
                    <a href="/weee/1/scheme/f48cca5a-da72-4e60-bb16-a51a01033c3e/home/choose-activity">Activity</a>: Create an organisation
                </li>



            </ul>
        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">
            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
                    <form action="/weee/1/account/sign-out" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="X8BvF4Z88cI5XLLUFn7SKdcUIqwAVVQgd01RgxXsO0vvVM63al1e7k8F-EfcqjiuJgu4nEF1Tfuwh62y5ZPkCZZ40VdocI3ASY3OcVedTMyBGr-HLant0AozyRQWMmqTm4BkhI28IyFhjlRHO2V0vg2" />                        <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>



  <!-- #EndEditable -->
	<form method="post">   <div class="grid-row">
			<div class="column-two-thirds">
					<header class="hgroup">
							<h1 class="heading-large">Edit PCS</h1>
					</header>
			</div>
	</div>
<div class='error-summary-valid' data-valmsg-summary='true'>
											<ul class='error-summary-list'>
													<li style='display:none'></li>
											</ul>
									</div><input id="OldApprovalNumber" name="OldApprovalNumber" type="hidden" value="WEE/TE0202ST/SCH" />    <div class="form-group">
			<label class="form-label" for="SchemeName">PCS name </label>

			<input class="form-control" id="SchemeName" maxlength="70" name="SchemeName" type="text" value="C&#32;WEEE&#32;SCHEME" />
	</div>
	<div class="form-group">
			<label class="form-label" for="ApprovalNumber">Approval number </label>

			<input class="form-control" id="ApprovalNumber" maxlength="16" name="ApprovalNumber" type="text" value="WEE/TE0202ST/SCH" />
	</div>
	<div class="form-group">
			<label class="form-label" for="IbisCustomerReference">Billing reference (optional)</label>

			<input class="form-control" id="IbisCustomerReference" maxlength="10" name="IbisCustomerReference" type="text" value="WEEE000045" />
	</div>
	<div class="form-group">
			<label class="form-label" for="ObligationType">Obligation type </label>

			<select autocomplete="false" class="form-control" id="ObligationType" name="ObligationType"><option value=""></option>
<option value="1">B2B</option>
<option value="2">B2C</option>
<option selected="selected" value="3">Both</option>
</select>
	</div>
	<div class="form-group">
			<label class="form-label" for="CompetentAuthorityId">Appropriate authority </label>

			<select autocomplete="false" class="form-control" id="CompetentAuthorityId" name="CompetentAuthorityId"><option value=""></option>
<option selected="selected" value="a3c2d0dd-53a1-4f6a-99d0-1ccfc87611a8">EA</option>
<option value="4eee5942-01b2-4a4d-855a-34dee1bbbf26">NIEA</option>
<option value="44c2f368-aa66-48f0-bbc9-a0ed34ad0951">NRW</option>
<option value="78f37814-364b-4fae-beb5-db0439cbf177">SEPA</option>
</select>
	</div>
	<div class="form-group">
			<label class="form-label" for="Status">Status </label>

					<select class="form-control" disabled="disabled">
							<option>Approved</option>
					</select>
<input id="Status" name="Status" type="hidden" value="Approved" />    </div>
	<p>
			<a href="javascript:alert('Prototype only');">View organisation details</a>
	</p>
	<p>
			<a href="edit-org-contact">View or edit organisation contact details</a>
	</p>
	<p>
			<a href="edit-notice">View or edit service of notice details</a>
	</p>
	<p>
							<a href="javascript:alert('Prototype only');">Overview of current members 2016.csv</a><span style="color: #6f777b"> (less than 500KB).</span>
							<br />
	</p>

<p><a class="button" href="javascript:alert('Prototype only');">Save and continue</a></p>
			<a href="javascript:history.back();">Back</a>
	</p>
</form>


             </section>


    </div>
</div>
</main>


            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
