{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}


<!-- #EndEditable -->

<main id="content">
    <div class="phase-banner">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service and your
            <a href="/weee/new-user/feedback"  target="_blank" onclick="ga('send', 'event', 'Feedback', 'Banner', 'Feedback link');">feedback</a> will help us to improve it
        </span>
    </p>
</div>


<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
            <ul>
                    <li>
                            Organisation: Sophie&#39;s Test
                    </li>

                    <li>
                        <a href="/weee/scheme/c5a2e2e4-3fa5-485d-a781-a5aa00e52777/home/choose-activity">Activity</a>: Manage EEE/WEEE data
                    </li>




            </ul>
        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">
            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
<form action="/weee/account/sign-out" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="VLC7zSOnTlUB90L0TK4FmNu-zHuNE9tR93KLDHtHgCe2mDHa6okyKiP_FVIiFf5lDQ6UiWVqIV6WhWf60ChfuTAWR1UkBeJQ72IS8x7hmhGtiOTmlgZX8mjY-hxSo38HWLUd6O2uelBYZZYJCpQBOw2" />                        <input class="link-submit" id="link-sign-out" type="submit" value="Sign out"/>
</form>                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>

    <div id="schemeBanner">Sophies Test: WEE/TE1111ST/SCH Status: Approved</div>




        <div class="grid-row">
            <section id="main-content" class="column-two-thirds">

    <header class="hgroup">
        <div>
            <h1 class="heading-large">You have successfully submitted your XML file</h1>
        </div>
    </header>

		<p>To find notification of all your registered members and their producer registration numbers, <a href="manage-members">manage PCS members</a>.</p>
			<p>We'll send an invoice for any producer registration charges to your organisation's contact.</p>
			<p>If you have finished performing tasks you can <a href="javascript:alert('Signs out user');">sign out</a> or proceed to perform more activities.</p>


    <p>
        <a class="button" href="javascript:alert('End of journey');">Perform another activity</a>
    </p>


        <a href="javascript:alert('Prototype only');">What do you think of this service</a> (takes 30 seconds)


            </section>
        </div>
</main>









{{/content}}



{{$bodyEnd}}

{{/bodyEnd}}




{{/layout}}
