{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}


<!-- #EndEditable -->

<main id="content">
    <div class="phase-banner">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service ñ your
            <a href="/weee/new-user/feedback"  target="_blank" onclick="ga('send', 'event', 'Feedback', 'Banner', 'Feedback link');">feedback</a> will help us to improve it
        </span>
    </p>
</div>


<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
            <ul>
                    <li>
                            Organisation: Sophie&#39;s Test
                    </li>

                    <li>
                        <a href="/weee/scheme/c5a2e2e4-3fa5-485d-a781-a5aa00e52777/home/choose-activity">Activity</a>: Manage members
                    </li>




            </ul>
        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">
            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
<form action="/weee/account/sign-out" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="GKnpfbGyq1b_GlwQzKn2U3wrOgp_6ejutRIgHC7ZiHXpTYY7jIxiEJ1sM_Z7BXHlPPmEU2jM1chJ6o1-Ygkb6HSTZalTN5dMdTSI8SfI1qGzCc1uJv4_qO--sczLRoq3JeKHkjs0dggnR4YfKT-KUw2" />                        <input class="link-submit" id="link-sign-out" type="submit" value="Sign out"/>
</form>                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>

    <div id="schemeBanner">Sophies Test: WEE/TE1111ST/SCH Status: Approved</div>




        <div class="grid-row">
            <section id="main-content" class="column-two-thirds">

    <script type="text/javascript">

        if (window.addEventListener) {
            window.addEventListener("beforeunload", function() {});
        }

        function ajaxSubmit() {

            if (!$("#form1").valid()) {
                return false;
            }

            $("#title")
                .html('Checking your file for errors');

            $("#preSubmissionContent")
                .hide();

            $("#anotherActivitylink")
                .hide();

            $("#submitButton")
                .prop('disabled', true)
                .prop('value', 'Checking file for errors...');

            setTimeout(function() {
                $("#processingTimeMessage")
                    .fadeIn("slow");
            }, 5000);


            if (typeof FormData == 'undefined') {
                return true;
            } else {
                $("#spinner")
                    .show();

                $.ajax({
                    url: "/weee/scheme/c5a2e2e4-3fa5-485d-a781-a5aa00e52777/member-registration/add-or-amend-members",
                    type: "POST",
                    data: $("#form1").serializeFiles(),
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        var placeHolderLocation = "/weee/scheme/c5a2e2e4-3fa5-485d-a781-a5aa00e52777/member-registration/view-errors-and-warnings?memberUploadId=00000000-0000-0000-0000-000000000000";
                        window.location = placeHolderLocation.replace("00000000-0000-0000-0000-000000000000", response);
                    },
                    statusCode: {
                        500: function(response) {
                            window.location = "/weee/errors/500";
                        }
                    },
                });

                return false;
            }
        }
    </script>

<form action="javascript:alert('Starts submit journey');" autocomplete="off" enctype="multipart/form-data" id="form1" method="post" onsubmit="ga(&#39;send&#39;,&#32;&#39;event&#39;,&#32;&#39;Uploads&#39;,&#32;&#39;Check&#32;file&#32;for&#32;errors&#39;);&#32;return&#32;ajaxSubmit();">        <header class="hgroup">
            <h1 id="title" class="heading-large" aria-live="off">
                Submit members details
            </h1>
        </header>
        <div id="preSubmissionContent">
            <input name="__RequestVerificationToken" type="hidden" value="WC7o7eiNijyWvnio0LBfjZEz4FJdG77ZSL5EI3baQIjV65JUnP4MfoQ3CFPIYEJL1LcM_8U7c8QsCGF09ysPODQlWd5FIG4mehfgFZjuaw8lJ3Irx28du-mQVKTggffkh7nusiaI8IaF30YBouxX8w2" />
            <div class='error-summary-valid' data-valmsg-summary='true'>
                        <ul class='error-summary-list'>
                            <li style='display:none'></li>
                        </ul>
                    </div>

            <p>To register or update your members' details, upload and submit an XML file.</p>
            <p class="important">
                Your XML file must use the version 3.07 schema.
            </p>
            <div class="form-group">
                <label class="form-label&#32;hidden-for-screen-reader" for="File">Choose a file </label>
                <span class="field-validation-valid&#32;error-message" data-valmsg-for="File" data-valmsg-replace="true"></span>
                <input accept=".xml" class="form-control" data-val="true" data-val-required="You&#32;must&#32;choose&#32;a&#32;file" id="File" name="File" type="file" value="" />
            </div>

        </div>
<div class="left-cleared"><input type="submit" value="Check file for errors" style="margin-top: 20px;" id="submitButton" class="button" /></div>        <p>
            <a href="javascript:alert('End of prototype');" id="anotherActivitylink">Perform another activity</a>
        </p>
</form>
    <noscript>
        <p class="bold-small">
            It may take a minute or two to check your file for errors, so please bear with us.
        </p>
    </noscript>

    <p class="bold-small" style="display: none;" id="processingTimeMessage" aria-live="polite">
        It may take a minute or two to check your file for errors, so please bear with us.
    </p>

            </section>
        </div>
</main>







{{/content}}



{{$bodyEnd}}

{{/bodyEnd}}




{{/layout}}
