{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}

<main id="content">

		<div class="phase-banner">
				<p>
						<strong class="phase-tag">BETA</strong>
						<span>This is a new service – your <a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
				</p>
		</div>
<div class="grid-row">

	<div class="column-half">
 <div class="breadcrumb-title-display font-xsmall">
		 <ul>
						 <li>
										 Organisation: Test 1234
						 </li>




		 </ul>
 </div>
</div>

<div class="column-half">
 <div class="username-title-display font-xsmall">
		 <ul>
				 <li>
						 <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
				 </li>
				 <li>
<form action="/weee/account/sign-out" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="E2boLPWeBUBmYhPsfEIT4OOi1oCO7qFjFz2PQUahf-ecbpk4DUOqfMSoQzLXDiPUsgGpHdHvSgGkU2BgjRvKIaw3enuopPn9ZPynNFTfwgRW5EC2ZGlDYRVcmYUqnKnQGZqthUdAhpyJKc6yzNQT5Q2" />                        <input class="link-submit" id="link-sign-out" type="submit" value="Sign out"/>
</form>                </li>
		 </ul>
 </div>
</div>

</div>
<div class="account-link-banner"></div>







 <div class="grid-row">
		 <section class="column-two-thirds">

<header class="hgroup">
 <h1 class="heading-large">
		 What would you like to do?
 </h1>
</header>

<form method="post">
    <fieldset class="block">

      <legend class="visuallyhidden">What would you like to do?</legend>

      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Submit EEE/WEEE data return">
        Submit EEE/WEEE data return
      </label>

      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="View data returns">
        View latest data
      </label>





    </fieldset>
<br/>
		<div class="form-group">
				<input type="submit" class="button" value="Continue" />
		</div>
		<p><a href="index-2">Back</a></p>
  </form>



		 </section>
 </div>

</main>




            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
