{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}

<style>
.column-three-quarters {
float: left;
width: 75%;
}
.column-three-quarters {
box-sizing: border-box;
padding: 0 15px;
}

.selection-block {
float: left;
background-color: #00823B;
color: #ffffff;


}

.data-area {
float: left;
color: #000000;
padding: 10px;
width: 270px;
margin-bottom: 30px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
height:auto;
text-align: center;


}



.half {

width: 170px;
margin-bottom: 30px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
height:90px;
text-align: center;
}

.selection-block a:visited {

color: #ffffff;
text-decoration: none;

}

.margin-right {

margin-right: 30px;

}

.margin-bottom-15 {

margin-bottom: 15px;

}

.full {

width: 686px;
margin-bottom: 15px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
text-align: center;

}

.grey {

background-color: #dee0e2;
height: 275px;
margin-top:20px;
padding-top:5px;
padding-right: 10px;
padding-left: 10px;

}

.container {

border: 1px solid #000000;
height: 225px;
padding-top: 15px;

}

.custom {

  margin-bottom: 0.6em !important;
}


</style>
<!-- #EndEditable -->
</head>

<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>




<!--end header-->



<main id="content">


  <!-- #BeginEditable "banner" -->
<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
            <ul>
                <li>
                    Organisation: Loads of Schemes Ltd
                </li>

                <li>
                    <a href="/weee/1/scheme/f48cca5a-da72-4e60-bb16-a51a01033c3e/home/choose-activity">Activity</a>: Manage PCS
                </li>



            </ul>
        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">
            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
                    <form action="/weee/1/account/sign-out" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="X8BvF4Z88cI5XLLUFn7SKdcUIqwAVVQgd01RgxXsO0vvVM63al1e7k8F-EfcqjiuJgu4nEF1Tfuwh62y5ZPkCZZ40VdocI3ASY3OcVedTMyBGr-HLant0AozyRQWMmqTm4BkhI28IyFhjlRHO2V0vg2" />                        <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>



  <!-- #EndEditable -->
    <div class="grid-row">

      <div class="column-two-thirds">

<section>
<div id="organisationcontent">

                <h1 class="heading-xlarge custom">
                    <!-- #BeginEditable "header" -->
        A WEEE Scheme
                            <!-- #EndEditable -->
                </h1>




<div class="container">
<div class="data-area margin-right">
  <div class="data">
            <h2 class="bold-xxlarge">8,510</h2>

                         <p class="bold-xsmall">(Tonnes)<br/><br/>Total WEEE collected<br/>Compliance year to date</p>
                         <p><a href="javascript:alert('Prototype only');">Download breakdown (CSV)</a></p>
          </div>
</div>

<div class="data-area">
  <div class="data">
            <h2 class="bold-xxlarge">18,831</h2>
            <p class="bold-xsmall">(Tonnes)<br/><br/>Total EEE placed on market<br/>Compliance year to date</p>
            <p><a href="javascript:alert('Prototype only');">Download breakdown (CSV)</a></p>
          </div>
</div>

</div>





<a href="javascript:alert('Prototype only');"><div class="selection-block half margin-right">
<h2 class="heading-small">Manage<br/>members</h2>
</div></a>

<a href="javascript:alert('Prototype only');"><div class="selection-block half margin-right">
<h2 class="heading-small">Manage EEE/WEEE <br/>data returns</h2>
</div></a>

<a href="javascript:alert('Prototype only');"><div class="selection-block half">
<h2 class="heading-small">View submission<br/> history</h2>
</div></a>

<a href="javascript:alert('Prototype only');"><div class="selection-block half margin-right">
<h2 class="heading-small">View registered<br/>office details</h2>
</div></a>

<a href="javascript:alert('Prototype only');"><div class="selection-block half margin-right">
<h2 class="heading-small">Manage <br/>contact details</h2>
</div></a>

<a href="javascript:alert('Prototype only');"><div class="selection-block half">
<h2 class="heading-small">Manage<br/>users</h2>
</div></a>


</div>
</form>

</div>
</div>


        </section>
    </div>
</div>
</main>


            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
