{% extends "version1-8/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    .disabledLink {
      color: grey !important; 
      pointer-events: none;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">AATF return for Abb Ltd</h2>
<!-- Change it so it pulls from operator, maybe-->
<form action="/version1-8/AATF-Returns/save-and-continue" method="post" class="form">
    <table class="govuk-table" style="width: 30%;">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="border: 0px;">Compliance year</td>
            <td class="govuk-table__cell govuk-!-font-weight-bold" style="border: 0px;" id="compliance-insert">{{
                data['return-year'] }}</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="border: 0px;">Reporting period</td>
            <td class="govuk-table__cell govuk-!-font-weight-bold" style="border: 0px;" id="reporting-insert">{{
                data['return-period-long'] }}</td>
        </tr>
    </table>
    <div class="govuk-!-margin-bottom-4"></div>
    {% set operator = data['period']._operator %}
    {% for facility in data['period']._facilities %}
    <table class="govuk-table" style="width: 60%;">
        <tr class="govuk-table__row">
            {% if loop.index == 1 %}
            <td class="govuk-table__cell govuk-!-font-weight-bold" style="border: 0px;">{{loop.index }}.</td>
            {% else %}
            <td class="govuk-table__cell govuk-!-font-weight-bold" style="border: 0px; color: transparent;">{{loop.index + 1}}.</td>
            {% endif %}
            <td class="govuk-table__cell govuk-!-font-weight-bold">Obligated WEEE for {{facility._name}}</td>
            <td class="govuk-table__cell">B2C</td>
            <td class="govuk-table__cell">B2B</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="border: 0px;"></td>
            <td class="govuk-table__cell"><a href="PCS-selection?facilityId={{facility._id}}" class="govuk-link govuk-link--no-visited-state">WEEE
                    received via or on behalf of PCS(s)</a></td>
            {% if facility._totalb2c %}
            <td class="govuk-table__cell"><strong class="govuk-tag">{{facility._totalb2c}}</strong></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag">-</strong></td>
            {% endif %}
            {% if facility._totalb2b %}
            <td class="govuk-table__cell"><strong class="govuk-tag">{{facility._totalb2b}}</strong></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag">-</strong></td>
            {% endif %}
        </tr>
        {% if  data['senton'] == 'yes' %}
        <tr class="govuk-table__row">       
            <td class="govuk-table__cell" style="border: 0px;"></td>
            {% if facility._hasEnteredData %}
            <td class="govuk-table__cell"><a href="Are-you-sending-any-WEEE-to-another-ATF-for-treatment?facilityId={{facility._id}}"
                    class="govuk-link govuk-link--no-visited-state">Sent to another AATF / ATF</a></td>
            {% else %}
            <td class="govuk-table__cell"><a href="Are-you-sending-any-WEEE-to-another-ATF-for-treatment?facilityId={{facility._id}}"
                class="govuk-link govuk-link--no-visited-state disabledLink">Sent to another AATF / ATF</a></td>         
            {% endif %}
            {% if facility._sentonb2c %}
            <td class="govuk-table__cell"><strong class="govuk-tag">{{facility._sentonb2c}}</strong></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag">-</strong></td>
            {% endif %}
            {% if facility._sentonb2b %}
            <td class="govuk-table__cell"><strong class="govuk-tag">{{facility._sentonb2b}}</strong></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag">-</strong></td>
            {% endif %}
        </tr>
        {% endif %}
        {% if  data['reusedoption'] == 'yes' %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="border: 0px;"></td>
            {% if facility._hasEnteredData %}
            <td class="govuk-table__cell"><a href="Do-you-need-to-report-any-WEEE-reused-as-a-whole-appliance?facilityId={{facility._id}}"
                    class="govuk-link govuk-link--no-visited-state">Reused as a whole appliance</a></td>
            {% else %}
            <td class="govuk-table__cell"><a href="Do-you-need-to-report-any-WEEE-reused-as-a-whole-appliance?facilityId={{facility._id}}"
                class="govuk-link govuk-link--no-visited-state disabledLink">Reused as a whole appliance</a></td>
            {% endif %}
            {% if facility._reusedb2c %}
            <td class="govuk-table__cell"><strong class="govuk-tag">{{facility._reusedb2c}}</strong></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag">-</strong></td>
            {% endif %}
            {% if facility._reusedb2b %}
            <td class="govuk-table__cell"><strong class="govuk-tag">{{facility._reusedb2b}}</strong></td>
            {% else %}
            <td class="govuk-table__cell"><strong class="govuk-tag">-</strong></td>
            {% endif %}
        </tr>
        {% endif %}
    </table>

    {% endfor %}

    {% if  data['receivedoption'] == 'yes' %}
    <table class="govuk-table" style="width: 60%;">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold" style="border: 0px;">2.</td>
            <td class="govuk-table__cell govuk-!-font-weight-bold">{{ operator._name }}'s Non-obligated WEEE</td>
            <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="border: 0px;"></td>
            <td class="govuk-table__cell"><a href="SC004_1-Enter-non-obligated-WEEE.html" class="govuk-link govuk-link--no-visited-state">Received</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag">{{ operator._wee }}</strong></td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="border: 0px;"></td>
            <td class="govuk-table__cell"><a href="SC004_2a-Add-any-DCF-data.html" class="govuk-link govuk-link--no-visited-state">Retained
                    by a DCF</a></td>
            <td class="govuk-table__cell"><strong class="govuk-tag">{{ operator._weeDcf }}</strong></td>
        </tr>
    </table>
    <div class="govuk-!-padding-bottom-7"></div>
    {% endif %}
</form>
<form action="/version1-8/AATF-Returns/pcs-check-my-return" method="post" class="form" style="display: inline">
    <button type="submit" class="govuk-button" id="pcs-check-return">
        Check my return
    </button>
</form>
<details class="govuk-details govuk-!-font-size-16">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                The AATF that I want is not on the list
            </span>
        </summary>
        <div class="govuk-details__text">
            <div class="govuk-body govuk-!-font-size-16">
                Contact the relevant authority<br /><br />
                <b>England</b><br />
                Environment Agency<br />
                Producer Responsibility Regulatroy Services<br />
                Telephone: 03708 506 506<br /><br>

                <b>Northern Ireland</b><br />
                Northern Ireland Environment Agency<br />
                Producer Responsibility Unit<br />
                Telephone: 02 890 569338<br /><br />

                <b>Scotland</b><br />
                Scottish Environment Protection Agency<br />
                Producer Compliance and Waste Shipments Unit<br />
                Telephone: 01786 457700<br /><br />

                <b>Wales</b><br />
                Natural Resources Wales<br />
                Producer Responsibility Unit<br />
                Telephone: 03000 65 3096
            </div>
        </div>
    </details>
{% endblock %}