{% extends "version1-8/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{%- from "tag/macro.njk" import govukTag -%}
{% from "panel/macro.njk" import govukPanel %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
    padding-top: 30px;
  }
</style>
<div class="govuk-panel govuk-panel--confirmation govuk-!-width-two-thirds" style="display: inline-block">
    <h1 class="govuk-panel__title" style="font-size: 2.5rem;">
        You have successfully submitted your AATF return for {{ data['return-period-long'] }} {{ data['return-year'] }}
    </h1>
</div>
<div class="govuk-!-padding-bottom-8"></div>
<div class="govuk-!-width-two-thirds">
    <p class="govuk-body">Your AATF quarterly return has been submitted successfully.</p>
    <div class="govuk-!-padding-bottom-2"></div>
    <p class="govuk-body">If you have completed all your activities you can <a href="#" class="govuk-link govuk-link--no-visited-state">sign out</a> or proceed to perform more
        activities.</p>
</div>
<form action="/version1-8/AATF-Returns/perform-another-activity" method="post" class="form">
    <button type="submit" class="govuk-button">
        Perform another activity
    </button>
</form>
{% endblock %}