{% extends "version1-4/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{%- from "tag/macro.njk" import govukTag -%}
{% from "tabs/macro.njk" import govukTabs %}
{% from "table/macro.njk" import govukTable %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    .weee-table td {
        border-bottom: 0px;
        padding-bottom: 0px;
        width: 75%;
    }

    .no-border {
        border: none;
    }

    #main-content {
        padding-top: 0px;
    }

    .align-top{
        vertical-align: top;
    }

    .align-center{
        text-align: center;
        vertical-align: top;
    }
    .no-margin{
        margin-bottom: 0;
    }

    .cell-border{
        border-bottom: 1px solid #bfc1c3;
    }
</style>
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">AATF Return</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Check your AATF return</li>
    </ol>
</div>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">Check your AATF return for ABB Ltd</h2>

<p style="display: inline">Check and review your AATF return before you proceed to submit</p>
<div class="govuk-!-padding-bottom-9"></div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <p><strong>Compliance year</strong></p>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <p>{{ data['return-year'] }}</p>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body">Change</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <p><strong>Reporting period</strong></p>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <p>{{ data['return-period-long'] }}</p>
    </div>
</div>

<div class="govuk-!-padding-bottom-6"></div>
<h4 class="govuk-heading-s" style="margin-bottom: 0px;">Obligated WEEE</h4>
{% for facility in data['period']._facilities %}
<div class="govuk-!-padding-bottom-6"></div>
<table class="govuk-table govuk-!-font-size-16">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header align-top" scope="col" style="width:20%;">{{facility._name}}</th>
            <th class="govuk-table__header align-top" scope="col" style="width:20%;">{{facility._approvalNumber}}</th>
            <th class="govuk-table__header align-top" scope="col" style="width:20%;">
                    <table class="govuk-table govuk-!-font-size-16 no-margin">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th colspan="2" class="align-center">Received for treatment (t)</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr lass="govuk-table__row">
                                    <td class="align-center">B2C</td>
                                    <td class="align-center">B2B</td>
                                </tr>
                            </tbody>
                        </table>
            </th>
            <th class="govuk-table__header align-top" scope="col" style="width:20%;">
                <table class="govuk-table govuk-!-font-size-16 no-margin">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th colspan="2" class="align-center">Sent on to another AATF / ATF (t)</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="align-center">B2C</td>
                            <td class="align-center">B2B</td>
                        </tr>
                    </tbody>
                </table>
            </th>
            <th class="govuk-table__header align-top"" scope="col" style="width:20%;">
                <table class="govuk-table govuk-!-font-size-16 no-margin">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th colspan="2" class="align-center">Reused as a whole appliance (t)</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr lass="govuk-table__row">
                            <td class="align-center">B2C</td>
                            <td class="align-center">B2B</td>
                        </tr>
                    </tbody>
                </table>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="col" colspan="3">
                    <details class="govuk-details" style="font-size: 16px;">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                        {{facility._name}} PCSs
                                </span>                       
                            </summary>
                            <div class="govuk-details__text" >
                                <table class="govuk-table" style="font-size: 16px; width: 100%;">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header" scope="col" style="width:40%">PCS Name</th>
                                            <th class="govuk-table__header" scope="col" style="width:35%">Approval No</th>
                                            <th class="govuk-table__header" scope="col" style="width:15%"></th>
                                            <th class="govuk-table__header" scope="col"></th>
                                        </tr>
                                    </thead>
                                    {% for pcs in facility._pcs %}
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">{{pcs._name}}</td>
                                            <td class="govuk-table__cell">{{pcs._id}}</td>

                                            {% if facility._weeeReceivedTotal %}
                                            <td class="govuk-table__cell">{{pcs._weeeReceivedTotal}}</td>
                                            {% else %}
                                            <td class="govuk-table__cell">-</td>
                                            {% endif %}
                                            {% if facility._weeeReceivedTotalb2b %}
                                            <td class="govuk-table__cell">{{pcs._weeeReceivedTotalb2b}}</td>
                                            {% else %}
                                            <td class="govuk-table__cell">-</td>
                                            {% endif %}
                                        </tr>
                                        
                                    </tbody>
                                    {% endfor %}

                                    <tfoot>
                                        <tr class="govuk-table__row">
                                                <td class="govuk-table__cell"></td>
                                                <td class="govuk-table__cell"></td>
                                                {% if facility._totalb2c %}
                                                <td class="govuk-table__cell">{{facility._totalb2c}}</td>
                                                {% else %}
                                                <td class="govuk-table__cell">-</td>
                                                {% endif %}
                                                {% if facility._totalb2b %}
                                                <td class="govuk-table__cell">{{facility._totalb2b}}</td>
                                                {% else %}
                                                <td class="govuk-table__cell">-</td>
                                                {% endif %}
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </details>

            </td>
            <td class="govuk-table__cell align-center" scope="col">
                <table class="govuk-table govuk-!-font-size-16 no-margin">
                        <tbody class="govuk-table__body">
                            <tr lass="govuk-table__row">
                                {% if facility._sentonb2c %}
                                <td class="align-center">{{facility._sentonb2c}}</td>
                                {% else %}
                                <td class="align-center">-</td>
                                {% endif %}
                                {% if facility._sentonb2b %}
                                <td class="align-center">{{facility._sentonb2b}}</td>
                                {% else %}
                                <td class="align-center">-</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
            </td>
            <td class="govuk-table__cell align-center" scope="col"> 
                    <table class="govuk-table govuk-!-font-size-16 no-margin">
                            <tbody class="govuk-table__body">
                                <tr lass="govuk-table__row">
                                        {% if facility._reusedb2c %}
                                        <td class="align-center">{{facility._reusedb2c}}</td>
                                        {% else %}
                                        <td class="align-center">-</td>
                                        {% endif %}
                                        {% if facility._reusedb2b %}
                                        <td class="align-center">{{facility._reusedb2b}}</td>
                                        {% else %}
                                        <td class="align-center">-</td>
                                        {% endif %}
                                </tr>
                            </tbody>
                        </table>
            </td>
        </tr>  
    </tbody>
</table>
{% endfor %}

<div class="govuk-!-padding-bottom-6"></div>
<h4 class="govuk-heading-s" style="margin-bottom: 0px;">Non-obligated WEEE</h4>
<div class="govuk-!-padding-bottom-6"></div>
<table class="govuk-table govuk-!-font-size-16">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">
                    WEEE received (t)

            </th>
            <th class="govuk-table__header" scope="col">WEEE retained by a DCF (t)
            </th>
            <th class="govuk-table__header" style="font-weight: normal"> </th>
        </tr>
    </thead>
    {% set operator = data['period']._operator %}
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
                {% if operator._wee %}
            <td class="govuk-table__cell">{{ operator._wee }}</td>
            {% else %}
            <td class="govuk-table__cell">-</td>
            {% endif %}
            {% if operator._weeDcf %}
            <td class="govuk-table__cell">{{ operator._weeDcf }}</td>
            {% else %}
            <td class="govuk-table__cell">-</td>
            {% endif %}
            <td class="govuk-table__cell">Change</td>
        </tr>
    </tbody>
</table>
<div class="govuk-!-padding-bottom-6"></div>

<form action="/version1-8/AATF-Returns/submit-aatf-return" method="post" class="form" style="display:inline;">
    {{ govukButton({
    text: "Submit"
    }) }}
</form>
<a style="padding-left: 20px;" href="My-facilities">AATF return</a>

{% endblock %}