{% extends "version1-7/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{%- from "tag/macro.njk" import govukTag -%}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #Whole-WEEE-sent-to-another-treatment-table .govuk-form-group {
        margin-bottom: 10px;
    }

    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">AATF Return</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Sending WEEE to another ATF</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">WEEE sent to another ATF</li>
    </ol>
</div>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">WEEE sent to another ATF for treatment</h2>
<div class="govuk-body govuk-!-font-size-19">
    <a href="paste-values-redirect?returnUrl=SC016_3-Enter-whole-WEEE-that-has-been-sent-to-another-ATF-for-treatment&title=WEEE sent to another ATF for treatment">Copy and paste values</a>
</div>
<p class="govuk-body">Provide tonnage to 3 decimal places. For example 1.238</p>
<div>
    <p id="detailSummary" style="margin-bottom: 0px;">{{data['facilitySelect']}}</p>
    <p>{{ data['operator-name'] }} {{ data['site-address-operator'] }} - {{ data['operator-postcode'] }} {{
        data['operator-postcode-search'] }}</p>
</div>

<input type="hidden" id="paste-values-hidden" name="paste-values-hidden" value="{{ data['paste-values'] }}">
<div class="govuk-error-summary" aria-labelledby="error-summary-title" style="display: none" id="errorSummary" role="alert"
    tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <a href="#">Please specify all tonnage as numerical values</a>
            </li>
        </ul>
    </div>
</div>
<form action="/version1-7/AATF-Returns/Whole-WEEE-sent-to-another-treatment-save" method="post" class="form">
    <table class="govuk-table" id="Whole-WEEE-sent-to-another-treatment-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1 govuk-!-width-three-quarters">

                    </div>
                </td>
                <td class="govuk-table__cell">
                    <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1 govuk-!-width-three-quarters">
                        Household (B2C) in tonnes
                    </div>
                </td>
                <td class="govuk-table__cell">
                    <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1 govuk-!-width-three-quarters">
                        Non-household (B2B) in tonnes
                    </div>
                </td>
            </tr>
            {% set selectedSent = data['selectedScheme']._sentOnOperatorCollection[data['sentOnWorking']] %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">1. Large household appliances</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="large-household-appliances-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="large-household-appliances-input-SC011"
                            name="large-household-appliances-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="large-household-appliances-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="large-household-appliances-input-SC011-b2b"
                            name="large-household-appliances-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">2. Small household appliances</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="small-household-appliances-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="small-household-appliances-input-SC011"
                            name="small-household-appliances-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="small-household-appliances-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="small-household-appliances-input-SC011-b2b"
                            name="small-household-appliances-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">3. IT and telecommunications equipment</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="it-and-telecomms-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="it-and-telecomms-input-SC011"
                            name="it-and-telecomms-input-SC011" type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="it-and-telecomms-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="it-and-telecomms-input-SC011-b2b"
                            name="it-and-telecomms-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">4. Consumer equipment</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="consumer-equipment-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="consumer-equipment-input-SC011"
                            name="consumer-equipment-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="consumer-equipment-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="consumer-equipment-input-SC011-b2b"
                            name="consumer-equipment-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">5. Lighting equipment</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="lighting-equipment-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="lighting-equipment-input-SC011"
                            name="lighting-equipment-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="lighting-equipment-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="lighting-equipment-input-SC011-b2b"
                            name="lighting-equipment-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">6. Electrical and electronic tools</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="electrical-and-electronic-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="electrical-and-electronic-input-SC011"
                            name="electrical-and-electronic-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="electrical-and-electronic-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="electrical-and-electronic-input-SC011-b2b"
                            name="electrical-and-electronic-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">7. Toys leisure and sports equipment</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="toys-leisure-sports-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="toys-leisure-sports-input-SC011"
                            name="toys-leisure-sports-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="toys-leisure-sports-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="toys-leisure-sports-input-SC011-b2b"
                            name="toys-leisure-sports-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">8. Medical devices</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="medical-devices-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="medical-devices-input-SC011"
                            name="medical-devices-input-SC011" type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="medical-devices-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="medical-devices-input-SC011-b2b"
                            name="medical-devices-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">9. Monitoring and control instruments</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="monitoring-control-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="monitoring-control-input-SC011"
                            name="monitoring-control-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="monitoring-control-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="monitoring-control-input-SC011-b2b"
                            name="monitoring-control-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">10. Automatic dispensers</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="automatic-dispensers-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="automatic-dispensers-input-SC011"
                            name="automatic-dispensers-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="automatic-dispensers-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="automatic-dispensers-input-SC011-b2b"
                            name="automatic-dispensers-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">11. Display equipment</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="display-equipment-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="display-equipment-input-SC011"
                            name="display-equipment-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="display-equipment-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="display-equipment-input-SC011-b2b"
                            name="display-equipment-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">12. Appliances containing refrigerants</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="cooling-appliance-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="cooling-appliance-input-SC011"
                            name="cooling-appliance-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="cooling-appliance-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="cooling-appliance-input-SC011-b2b"
                            name="cooling-appliance-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">13. Gas discharge lamps and LED light sources</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="gas-discharge-led-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="gas-discharge-led-input-SC011"
                            name="gas-discharge-led-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="gas-discharge-led-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="gas-discharge-led-input-SC011-b2b"
                            name="gas-discharge-led-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">14. Photovoltaic panels</td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="photovolatic-panels-input-SC011-error" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input" id="photovolatic-panels-input-SC011"
                            name="photovolatic-panels-input-SC011"
                            type="text">
                    </div>
                </td>
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <div class="govuk-form-group">
                        <span id="photovolatic-panels-input-SC011-error-b2b" class="govuk-error-message govuk-!-font-size-14"
                            style="margin-bottom: 0px; display: none;">
                            Please fill in this field
                        </span>
                        <input class="govuk-input govuk-!-width-two-thirds weee-input-b2b" id="photovolatic-panels-input-SC011-b2b"
                            name="photovolatic-panels-input-SC011-b2b"
                            type="text">
                    </div>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <h3 class="govuk-heading-m">Total</h3>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    <h3 class="govuk-heading-m" style="float: left" id="tonneTotal-sc011">0.000 tonnes</h3>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    <h3 class="govuk-heading-m" style="float: left" id="tonneTotalb2b-sc011">0.000 tonnes</h3>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="govuk-button" id="weee-sent-save">
        Save and continue
    </button>
</form>
{% endblock %}