{% extends "version1-7/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var pcsName = localStorage.getItem('completedPCS');
        var pcsID = localStorage.getItem('completedPCSID');
        var headerString = pcsName + " - " + pcsID;
        $('#SC016b-paragraph').html(headerString);
    });
</script>
<p id="SC016b-paragraph" style="margin-bottom: 0px;"></p>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l" style="padding-top: 0px;">Did you send any WEEE to another ATF for treatment?</h2>
<div class="govuk-!-padding-bottom-5"></div>
<form action="/version1-7/AATF-Returns/whole-weee-answer" method="post" class="form" style="display: inline">
    <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whole-weee-yes" name="whole-weee" type="radio" value="true">
            <label class="govuk-label govuk-radios__label" for="whole-weee-yes">
                Yes
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whole-weee-no" name="whole-weee" type="radio" value="false">
            <label class="govuk-label govuk-radios__label" for="whole-weee-no">
                No
            </label>
        </div>
    </div>
    <div class="govuk-!-padding-bottom-5"></div>
    <button type="submit" class="govuk-button">
        Save and continue
    </button>
</form>

{% endblock %}