{% extends "version1-1/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{{ govukBackLink({
text: "Back",
href: "SC005-Select-Facility"
}) }}
<style>
        #main-content {
            padding-top: 0px;
        }
    </style>
<h2 class="govuk-heading-l">Is the facility that you have selected correct?</h2>
<div class="govuk-!-padding-bottom-7"></div>
<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Facility Name</th>
            <th class="govuk-table__header" scope="col">Approval No</th>
            <th class="govuk-table__header" scope="col">Street</th>
            <th class="govuk-table__header" scope="col">Town</th>
            <th class="govuk-table__header" scope="col">Country</th>
            <th class="govuk-table__header" scope="col">Post Code</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell ">{{ data['facilitySelect'] }}</td>
            <td class="govuk-table__cell ">ATF/AB12345/WEEE</td>
            <td class="govuk-table__cell ">1 Waterloo Avenue</td>
            <td class="govuk-table__cell ">Woking</td>
            <td class="govuk-table__cell ">United Kingdom</td>
            <td class="govuk-table__cell ">GU21 BUY</td>
        </tr>
    </tbody>
</table>
<!--
{{ govukTable({
    firstCellIsHeader: true,
    head: [
      {
        text: "Facility Name"
      },
      {
        text: "Approval No"
      },
      {
        text: "Street"
      },
      {
        text: "Town"
      },
      {
        text: "Country"
      },
      {
        text: "Post Code"
      }
    ],
    rows: [
      [
        {
            html: "<p>{{ data['facilitySelect'] }}</p>"
        },
        {
            text: "ATF/AB12345/WEEE"
        },
        {
            text: "1 Waterloo Avenue"
        },
        {
            text: "Woking"
        },
        {
            text: "United Kingdom"
        },
        {
            text: "GU21 BUY"
        }
      ]
    ]
}) }}  -->
<div class="govuk-!-padding-bottom-7"></div>
<form action="/version1-1/AATF-Returns/facility-confirm" method="post" class="form" style="display: inline">
<button type="submit" class="govuk-button govuk-!-margin-right-3">
    Confirm
</button>
</form>
<form action="/version1-1/AATF-Returns/facility-cancel" method="post" class="form" style="display: inline">
<button type="submit" class="govuk-button" style="background-color: #bfc1c3; color: #0b0c0c">
    Cancel
</button>
</form>

{% endblock %}