{% extends "version1-6/layout.html" %}

{% from "input/macro.njk" import govukInput %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-m" id="report-heading">Ask the appropriate regulatory question: Do you export any whole WEEE for reuse or treatment? </h2>
<div class="govuk-!-padding-bottom-3"></div>
<!-- <a class="govuk-link" href="SC002_2-compliance-and-reporting.html" style="margin-left: 20px;">Back</a> -->
{% endblock %}