{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}
<style>
  .font-bold {

font-weight: 700;

  }
</style>
<main id="content">

		<div class="phase-banner">
				<p>
						<strong class="phase-tag">BETA</strong>
						<span>This is a new service – your <a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
				</p>
		</div>
<div class="grid-row">

	<div class="column-half">
 <div class="breadcrumb-title-display font-xsmall">
		 <ul>
						 <li>
										 Organisation: Test 1234
						 </li>




		 </ul>
 </div>
</div>

<div class="column-half">
 <div class="username-title-display font-xsmall">
		 <ul>
				 <li>
						 <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
				 </li>
				 <li>
<form action="/weee/account/sign-out" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="E2boLPWeBUBmYhPsfEIT4OOi1oCO7qFjFz2PQUahf-ecbpk4DUOqfMSoQzLXDiPUsgGpHdHvSgGkU2BgjRvKIaw3enuopPn9ZPynNFTfwgRW5EC2ZGlDYRVcmYUqnKnQGZqthUdAhpyJKc6yzNQT5Q2" />                        <input class="link-submit" id="link-sign-out" type="submit" value="Sign out"/>
</form>                </li>
		 </ul>
 </div>
</div>

</div>
<div class="account-link-banner"></div>







 <div class="grid-row">
		 <section class="column-two-thirds">

       <HEADER class="hgroup">
       <H1 class="heading-large">Submissions history</H1></HEADER>
       <P>View submissions for:</P>
       <DIV class="form-group"><LABEL class="form-label" for="SelectedYear">Compliance
       year </LABEL><SELECT name="SelectedYear" class="form-control" id="SelectedYear"
       autocomplete="false"><OPTION selected="selected">2016</OPTION>
         <OPTION>2015</OPTION> <OPTION>2010</OPTION> </SELECT>     </DIV>
       <DIV class="form-group"><LABEL class="form-label" for="SelectedScheme">PCS
       </LABEL><SELECT name="SelectedScheme" class="form-control" id="SelectedScheme"
       autocomplete="false"><OPTION selected="selected" value="c0856db8-2606-4b0b-93d1-a54400a5eb96">A
         WEEE scheme</OPTION> <OPTION value="d2231f0a-be40-4b12-a370-a545009a7c06">B
         WEEE Scheme</OPTION> <OPTION value="0c26f4d3-49cb-4aa6-8707-a54400f7faee">C
         WEEE SCHEME</OPTION> <OPTION value="03e367be-b173-44b1-9599-a54d0094a917">D
         WEEE SCHEME</OPTION> <OPTION
         value="300a370d-f84e-47b0-ae4c-a54700ed3819">DA1</OPTION> <OPTION value="1e6ede26-dc44-4850-bf56-a5690094ab4f">Demo
         scheme</OPTION> <OPTION value="1038d03e-827f-4f31-8038-a54b0102ae42">Ella
         Scheme Ltd</OPTION> <OPTION
         value="eb6f1219-e3f1-4715-a02f-a54800b3881c">Helen's Scheme</OPTION> <OPTION
         value="3b13f588-c71d-460a-a17d-a57700a41175">qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</OPTION>
         <OPTION value="5025618a-f720-49a1-a262-a5930090dfff">R2D2 WEEE SCHEME</OPTION>
         <OPTION value="1380d6b8-3756-4720-a8ee-a54f00fe73eb">Ralphs scheme</OPTION>
         <OPTION value="09e18a82-5c10-405b-b6fe-a58e00c306be">RENE AG</OPTION> <OPTION
         value="c4705e18-628c-4b99-a357-a541010ae867">SchemeA</OPTION> <OPTION value="c1059ffd-04a3-47e1-9871-a54500b84428">SchemeB</OPTION>
         <OPTION value="ac096fdf-95ae-41fa-99f4-a555009da901">SchemeC</OPTION> <OPTION
         value="f31dec7f-cc9c-4b61-814f-a56300ade5f2">SchemeE</OPTION> <OPTION value="b6145cc2-a6ea-4d5c-b3bc-a54500e73fdc">SFW
         scheme</OPTION> <OPTION value="18c380d7-969f-4e4c-9f6f-a54500edef2e">Test
         1234</OPTION> <OPTION value="3de25080-8c8d-4652-b264-a58e00c0d100">VEOLIA ES
         WEEE COMPLIANCE SCHEME (UK) LIMITED</OPTION> <OPTION value="25994c31-fbb8-4bfb-8678-a54b00f477a4">WEEE
         Recycle</OPTION> <OPTION
         value="ac386555-fcdb-46ed-b636-a54601252bd3">WEEECare</OPTION> </SELECT>
       </DIV>
       <P><SPAN class="font-bold">Submission type:</SPAN> Data returns     </P>
<table>
<thead>
  <tr>
    <th valign="top">Date and time (GMT)</th>
    <th valign="top">Quarter repored</th>
    <th valign="top">Submitted by</th>
    <th valign="top">WEEE collected (tonnes)</th>
    <th valign="top">WEEE delivered (tonnes)</th>
    <th valign="top">EEE on market (tonnes)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>03 Feb 2016 2:06 PM</td>
    <td>Q2</td>
    <td>Jason Sykes</td>
    <td>20</td>
    <td>10</td>
    <td>8</td>
  </tr>
  <tr>
    <td>03 Feb 2016 1:06 PM</td>
    <td>Q2</td>
    <td>Jason Sykes</td>
    <td>20</td>
    <td>9</td>
    <td>6</td>
  </tr>
  <tr>
    <td>02 Feb 2016 10:12 AM</td>
    <td>Q1</td>
    <td>Jason Sykes</td>
    <td>15</td>
    <td>4</td>
    <td>1</td>
  </tr>
  <tr>
    <td>01 Feb 2016 9:45 AM</td>
    <td>Q2</td>
    <td>Jason Sykes</td>
    <td>19</td>
    <td>9</td>
    <td>6</td>
  </tr>
  <tr>
    <td>01 Feb 2016 9:45 AM</td>
    <td>Q1</td>
    <td>Jason Sykes</td>
    <td>15</td>
    <td>3</td>
    <td>2</td>
  </tr>
</tbody>

</table>
<br/>





       <P><A href="javascript:history.back();">Back</A>
       </P></SECTION></DIV></main>



            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
