{% extends "version1-3/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "details/macro.njk" import govukDetails %}
{% from "select/macro.njk" import govukSelect %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{{ govukBackLink({
text: "Back",
href: "SC004a-Non-Obligated-WEEE"
}) }}

<h2 class="govuk-heading-l">Select a facility where the WEEE was received</h2>
<p>Select a facility for which you need to provide the quarterly return</p>
<form action="/version1-3/AATF-Returns/facility-save" method="post" class="form">
  {{ govukSelect({
  id: "facilitySelect",
  name: "facilitySelect",
  classes: "govuk-!-width-one-half",
  items: [
  {
  value: "ABB Disposal Ltd - WEEE/AB1234GH/ATF",
  text: "WEEE/AB1234GH/ATF - ABB Disposal Ltd"
  }
  ]
  }) }}
  <style>
      #main-content {
          padding-top: 0px;
      }
  </style>

  <details class="govuk-details govuk-!-width-two-thirds">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        The facility I want is not on the list
      </span>
    </summary>
    <div class="govuk-body govuk-!-font-size-14">
    <div class="govuk-details__text ">
      If the facility that you require is not on the list, then please contact the appropriate authority

      <p>
          <h2 class="heading-small">
              England
          </h2>
          <span>
              Environment Agency<br />
              Producer Responsibility Regulatory Services<br />
              Telephone: 03708 506 506
          </span>
      </p>
      <p>
          <h2 class="heading-small">
              Northern Ireland
          </h2>
          <span>
              Northern Ireland Environment Agency<br />
              Producer Responsibility Unit<br />
              Telephone: 02 890 569338
          </span>
      </p>
      <p>
          <h2 class="heading-small">
              Scotland
          </h2>
          <span>
              Scottish Environment Protection Agency<br />
              Producer Compliance and Waste Shipments Unit<br />
              Telephone: 01786 457700
          </span>
      </p>
      <p>
          <h2 class="heading-small">
              Wales
          </h2>
          <span>
              Natural Resources Wales<br />
              Producer Responsibility Unit<br />
              Telephone: 03000 65 3096
          </span>
      </p>
    </div>

  </details>

  {{ govukButton({
  text: "Save and continue"
  }) }}
</form>
{% endblock %}