{% extends "version-2/layout.html" %}

{% block pageTitle %}
  Create evidence note (protocol)
{% endblock %}

{% block content %}

<form class="form" action="/url/of/next/page" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
		<h1 class="govuk-heading-l">Enter evidence note details</h1>
	  
		<input type="hidden" value="Reference number: 1673" />
	  
		<h3 class="govuk-heading-m">Period in which WEEE was recieved for treatment</h3>

		<div class="govuk-!-padding-top-3 govuk-grid-column-two-thirds">
			<div class="govuk-label--s" style="float: left; font-weight: 300;">Start date<br /><input type="Date" value="Date" style="font-size: 18px; padding: 5px 0 5px 0; border: 2px solid black; width: 240px;" /></div>
			<div class="govuk-label--s" style="float: right; font-weight: 300;">End date<br /><input type="Date" value="Date" style="font-size: 18px; padding: 5px 0 5px 0; border: 2px solid black; width: 240px;" /></div>
		</div>
		
		<div class="govuk-!-padding-top-3 govuk-grid-column-two-thirds">
		
			<input class="govuk-select" style="width: 244px;" type="text" name="example" list="recipientsList" value="Recipient name">
			<datalist id="recipientsList">
				<option value="ABB 1 Ltd" />
				<option value="ABB 2 Ltd" />
				<option value="ABB 3 Ltd" />
				<option value="NBC 1 Ltd" />
				<option value="NBC 2 Ltd" />
				<option value="NBC 3 Ltd" />
				<option value="CBS 1 Ltd" />
				<option value="CBS 2 Ltd" />
				<option value="CBS 3 Ltd" />
				<option value="PBS 1 Ltd" />
				<option value="PBS 2 Ltd" />
				<option value="PBS 3 Ltd" />
			</datalist>

			<select class="govuk-select" style="width: 244px; float: right;" text="Compliance year">
				<option value="0">Compliance year</option>
				<option value="1">2022</option>
				<option value="2">2021</option>
				<option value="3">2020</option>
			</select>		
		</div>
		
		<div class="govuk-!-padding-top-3 govuk-grid-column-two-thirds">
		
			<select class="govuk-select" style="width: 244px;" text="type of waste">
				<option value="0">Type of waste</option>
				<option value="1">Household</option>
				<option value="2">Non-household</option>
			</select>		

		</div>
		
	    <div class="govuk-!-padding-top-3 govuk-grid-column-two-thirds">
			<p>
				Input tonnage below
				<br />
				Provide tonnage to 3 decimal places. For example 1.238
			</p>
		</div>

	    <div class="govuk-!-padding-top-3 govuk-grid-column-two-thirds">
			<a href="#" class="govuk-link">Use copy and paste to populate the table</a>
		</div>
		
	    <div class="govuk-!-padding-top-3 govuk-grid-column-full">
		
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr>
						<th scope="col" class="govuk-table__header" style="min-width: 300px;">Category</th>
						<th scope="col" class="govuk-table__header">Total received (tonnes)</th>
						<th scope="col" class="govuk-table__header">Re-used as whole appliances (tonnes)</th>
						<th scope="col" class="govuk-table__header">
							<select class="govuk-select">
								<option>Actual/Protocol</option>
								<option>actual</option>
								<option>protocol</option>
							</select >
						</th>
					</tr>
				</thead>
				
				<tbody class="govuk-table__body">
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">1- Large household appliances</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">2- Small household appliances</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">3- IT and telecommunications equipment</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">4- Consumer equipment</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">5- Lighting equipment</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">6- Electrical and electronic tools</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">7- Toys, leisure and sports equipment</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">8- Medical devices</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">9- Monitoring and control instruments</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">10- Automatic dispensers</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">11- Display equipment</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">12- Cooling appliances containing refridgerants</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">13- Gas discharge lamps</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">14- Photovoltaic panels</td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><input type="text" class="civica-textfield" /></td>
						<td class="govuk-table__cell"><select class="govuk-select"> <option>&nbsp;</option> <option>actual</option> <option>protocol</option> </select></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell total-row">Total</td>
						<td class="govuk-table__cell total-row">&nbsp;</td>
						<td class="govuk-table__cell total-row">&nbsp;</td>
						<td class="govuk-table__cell total-row">&nbsp;</td>
					</tr>

				</tbody>
			</table>
		
		</div>
		
    </div>
  </div>
  
<div class="govuk-!-margin-top-3">
	
	{{ govukButton({
		text: "Submit evidence note"
	  }) }}

	{{ govukButton({
		text: "Save as draft", classes: "govuk-button--secondary"
	  }) }}

</div>

</form>
{% endblock %}
