{% extends "version-2/layout.html" %}

{% block pageTitle %}
  Create evidence note (protocol)
{% endblock %}

{% block content %}

<form class="form" action="/version-2/save-create-evidence-note" method="post">
	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
		<h1 class="govuk-heading-l">Enter evidence note details</h1>
	  
		<input type="hidden" value="Reference number: 1673" />
	  
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				<h3 class="govuk-heading-s">Period in which WEEE was recieved for treatment</h3>
			</div>
			<div class="govuk-grid-column-one-half">
				<div class="govuk-label--s">Start date<br /><input type="Date" class="govuk-input" value="Date" name="startDate" /></div>
			</div>
			<div class="govuk-grid-column-one-half">
				<div class="govuk-label--s">End date<br /><input type="Date" class="govuk-input" value="Date" name="endDate" /></div>
			</div>
		</div>

		<div class="govuk-grid-row">
			<div class="govuk-!-padding-top-3 govuk-grid-column-one-half">

			<input class="govuk-input govuk-select" type="text" name="pcs" list="recipientsList" value="Recipient name">
			<datalist id="recipientsList" class="govuk-input">

				{% if data['schemes'] %}
				
					{% for scheme in data['schemes']._schemes %}
						<option value="{{scheme._name}}" />
					{% endfor %}

				{% else %}
					<option value="ABB 2 Ltd" />
					<option value="ABB 3 Ltd" />
					<option value="NBC 1 Ltd" />
					<option value="NBC 2 Ltd" />
					<option value="NBC 3 Ltd" />
					<option value="CBS 1 Ltd" />
					<option value="CBS 2 Ltd" />
					<option value="CBS 3 Ltd" />
					<option value="PBS 1 Ltd" />
					<option value="PBS 2 Ltd" />
					<option value="PBS 3 Ltd" />
				{% endif %}

			</datalist>
			</div>

			<div class="govuk-!-padding-top-3 govuk-grid-column-one-half">
				<select class="govuk-input govuk-select" text="Compliance year" name="year">
					<option value="0">Compliance year</option>
					<option value="2022">2022</option>
					<option value="2021">2021</option>
					<option value="2020">2020</option>
				</select>	

			</div>
		</div>

		
		<div class="govuk-grid-row">
			<div class="govuk-!-padding-top-3 govuk-grid-column-one-half">
				<select class="govuk-input govuk-select" text="type of waste" name="wasteType">
					<option value="0">Type of waste</option>
					<option value="Household">Household</option>
					<option value="Non-household">Non-household</option>
				</select>	
			</div>	
			<div class="govuk-!-padding-top-3 govuk-grid-column-one-half">
				<select class="govuk-input govuk-select" text="Actual or protocol" name="protocol">
					<option value="0">Actual or protocol</option>
					<option value="Actual">Actual</option>
					<option value="National protocol">National protocol</option>
					<option value="Site protocol">Site protocol</option>
					<option value="Re-use network weights">Re-use network weights</option>
				</select>	
			</div>	

		</div>

		</div>

		
	    <div class="govuk-!-padding-top-3 govuk-grid-column-two-thirds">
			<p>
				Input tonnage below
				<br />
				Provide tonnage to 3 decimal places. For example 1.238
			</p>
		</div>

	    <div class="govuk-!-padding-top-3 govuk-grid-column-two-thirds">
			<a href="/version-2/copy-paste-redirect?returnUrl=205_Create_evidence_note_no_protocol" class="govuk-link">Use copy and paste to populate the table</a>
		</div>
		
		<input type="hidden" id="paste-values-hidden" name="paste-values-hidden" value="{{ data['paste-values'] }}">
	    <div class="govuk-!-padding-top-3 govuk-grid-column-full">
		
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr>
						<th scope="col" class="govuk-table__header govuk-!-width-one-half">Category</th>
						<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Total received (tonnes)</th>
						<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Re-used as whole appliances (tonnes)</th>
					</tr>
				</thead>
				
				<tbody class="govuk-table__body">
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">1- Large household appliances</td>
						<td class="govuk-table__cell"><input type="text" name="received1" id="received1" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed1" id="reUsed1" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">2- Small household appliances</td>
						<td class="govuk-table__cell"><input type="text" name="received2" id="received2" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed2" id="reUsed2" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">3- IT and telecommunications equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received3" id="received3" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed3" id="reUsed3" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">4- Consumer equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received4" id="received4" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed4" id="reUsed4" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">5- Lighting equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received5" id="received5"  class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed5" id="reUsed5" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">6- Electrical and electronic tools</td>
						<td class="govuk-table__cell"><input type="text" name="received6" id="received6"  class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed6" id="reUsed6" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">7- Toys, leisure and sports equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received7" id="received7" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed7" id="reUsed7" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">8- Medical devices</td>
						<td class="govuk-table__cell"><input type="text" name="received8" id="received8" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed8" id="reUsed8" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">9- Monitoring and control instruments</td>
						<td class="govuk-table__cell"><input type="text" name="received9" id="received9" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed9" id="reUsed9" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">10- Automatic dispensers</td>
						<td class="govuk-table__cell"><input type="text" name="received10" id="received10" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed10" id="reUsed10" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">11- Display equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received11" id="received11" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed11" id="reUsed11" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">12- Cooling appliances containing refridgerants</td>
						<td class="govuk-table__cell"><input type="text" name="received12" id="received12" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed12" id="reUsed12" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">13- Gas discharge lamps</td>
						<td class="govuk-table__cell"><input type="text" name="received13" id="received13" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed13" id="reUsed13" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">14- Photovoltaic panels</td>
						<td class="govuk-table__cell"><input type="text" name="received14" id="received14" class="govuk-input" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed14" id="reUsed14" class="govuk-input" /></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<h3 class="govuk-heading-s">Total</h3>
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							<h3 class="govuk-heading-s" style="float: left" id="tonneTotalReceived">0.000 tonnes</h3>
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							<h3 class="govuk-heading-s" style="float: left" id="tonneTotalReUsed">0.000 tonnes</h3>
						</td>
					</tr>

				</tbody>
			</table>
		
			<div class="govuk-!-margin-top-3">
	
				{{ govukButton({
					text: "Submit evidence note",
					name: "action",
					value: "submit"
				  }) }}
			
				{{ govukButton({
					text: "Save as draft", classes: "govuk-button--secondary",
					name: "action",
					value: "save"
				  }) }}
			
			</div>
		</div>
		
    </div>
  </div>
  


</form>
{% endblock %}
