{% extends "version-2/layout2.html" %}

{% block pageTitle %}
  Manage evidence note
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-m"> Manage evidence notes for PCS1 </h1>
	  <!-- h1 class="govuk-heading-m">Manage evidence notes for {{ data['selected-evidence-note']._reference }}</h1 -->

      <form id="sf1" name="sf1" class="form" action="/version-2/210_Review_evidence_note" method="post">

		<div class="govuk-!-padding-bottom-7">
		<div class="govuk-label--m">Search by reference number</div>
		<div class="govuk-input"style="width: 200px;">
			<input type="text" id="input-search" placeholder=" " class="search-text-input" />
			<span id="button-holder"><img src="/public/images/search.jpg" /></span>
		</div>
		</div>
		
		<div class="govuk-!-padding-bottom-7">
		
			<label class="govuk-heading-s">Filter by:</label>
			
			<table>
				<tr>
				
				<td>
					<input type="Date" value="Date" style="font-size: 18px; padding: 5px; border: 2px solid black;" />
				</td>
				
				<td>
					<select class="govuk-select" text="Compliance year">
						<option value="0">Compliance year</option>
						<option value="1">2022</option>
						<option value="2">2021</option>
						<option value="3">2020</option>
					</select>
				</td>
				
				<td>
					<input class="govuk-select" style="width: 130px;" type="text" name="example" list="issuersList" value="Issued by">
					<datalist id="issuersList">
						<option value="AATF 1" />
						<option value="AATF 2" />
						<option value="AATF 3" />
					</datalist>
				</td>
				
				<td>
					<select class="govuk-select" text="Type">
						<option value="0">Type</option>
						<option value="1">Household</option>
						<option value="2">Non-household</option>
					</select>
				</td>
				
				<td>
					<select class="govuk-select" text="Status">
						<option value="0">Status</option>
						<option value="1">Draft</option>
						<option value="2">Submitted</option>
						<option value="3">Approved</option>
						<option value="4">Rejected</option>
						<hr />
						<option value="5">Returned</option>
						<hr />
						<option value="6">Void</option>
					</select>
				</td>
				
				<td>
					<select class="govuk-select" text="Category" style="max-width: 150px;">
						<option value="0">Category</option>
						<option value="1">1- Large household appliances</option>
						<option value="2">2- Small household appliances</option>
						<option value="3">3- IT and telecommunications equipment</option>
						<option value="4">4- Consumer equipment</option>
						<option value="5">5- Lighting equipment</option>
						<option value="6">6- Electrical and electronic tools</option>
						<option value="7">7- Toys, leisure and sports equipment</option>
						<option value="8">8- Medical devices</option>
						<option value="9">9- Monitoring and control instruments</option>
						<option value="10">10- Automatic dispensers</option>
						<option value="11">11- Display equipment</option>
						<option value="12">12- Cooling appliances containing refridgerants</option>
						<option value="13">13- Gas discharge lamps</option>
						<option value="14">14- Photovoltaic panels</option>
					</select>
				</td>
				
				</tr>
			</table>
		
		</div>
		
		<div class="govuk-!-padding-bottom-7">
		<table class="govuk-table">
		  <thead class="govuk-table__head">
		  
			<tr class="govuk-table__row">
			  <th scope="col" class="govuk-table__header">Reference number</th>
			  <th scope="col" class="govuk-table__header">Submitted date (GMT)</th>
			  <th scope="col" class="govuk-table__header">Issued by</th>
			  <th scope="col" class="govuk-table__header">Type</th>
			  <th scope="col" class="govuk-table__header">Status</th>
			  <th scope="col" class="govuk-table__header">&nbsp;</th>
			</tr>
		  </thead>
		  
		  <tbody class="govuk-table__body">
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1279</td>
			  <td class="govuk-table__cell">12/11/2021</td>
			  <td class="govuk-table__cell">AATF1</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">
				{% if (data['chosen-status-1279']) %}
				  {{ data['chosen-status-1279'] }}
				{% else %}
				  Submitted
				{% endif %}
			  </td>
			  <td class="govuk-table__cell">
				<!-- a href="#" onclick="save('1279')">Review evidence</a -->
				<a href="/version-2/journey-2/review-evidence-note-redirect?id=1279">Review evidence</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1389</td>
			  <td class="govuk-table__cell">12/11/2021</td>
			  <td class="govuk-table__cell">AATF2</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">
				{% if (data['chosen-status-1389']) %}
				  {{ data['chosen-status-1389'] }}
				{% else %}
				  Submitted
				{% endif %}
			  </td>
			  <td class="govuk-table__cell">
				<!-- a href="#" onclick="save('1389')">Review evidence</a -->
				<a href="/version-2/journey-2/review-evidence-note-redirect?id=1389">Review evidence</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1486</td>
			  <td class="govuk-table__cell">13/11/2021</td>
			  <td class="govuk-table__cell">PCS3</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Approved</td>
			  <td class="govuk-table__cell">
				<a href="#">View</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1499</td>
			  <td class="govuk-table__cell">13/11/2021</td>
			  <td class="govuk-table__cell">PCS4</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Rejected</td>
			  <td class="govuk-table__cell">
				<a href="#">View</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1543</td>
			  <td class="govuk-table__cell">14/11/2021</td>
			  <td class="govuk-table__cell">PCS5</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Returned</td>
			  <td class="govuk-table__cell">
				<a href="#">View</a>
			  </td>
			</tr>
			<tr class="govuk-table__row">
			  <td class="govuk-table__cell">1599</td>
			  <td class="govuk-table__cell">14/11/2021</td>
			  <td class="govuk-table__cell">PCS6</td>
			  <td class="govuk-table__cell">Household</td>
			  <td class="govuk-table__cell">Void</td>
			  <td class="govuk-table__cell">
				<a href="#">View</a>
			  </td>
			</tr>
			
			<tr>
			  <td class="govuk-table__cell" colspan="3" style="border-bottom: 0px;">Showing 1-6 of 50</td>
			  <td class="govuk-table__cell" colspan="3" style="border-bottom: 0px; padding-right: 8px;">
				<span style="float: right;">
				Prev 1 
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">Next</a>
				</span>
			  </td>
			</tr>
		  </tbody>
		  
		</table>
		</div>

      </form>

    </div>
  </div>

<script type="text/javascript">

	// set row background colour when row has unreviewed "Submitted" status
	const rowSet = document.getElementsByTagName('tr');

	for (let i = 0; i < rowSet.length; i++) 
	{
		const cells = rowSet[i].childNodes;
		
		for ( let j = 0; j < cells.length; j++ )
		{
			if ( cells[j].innerText === "Submitted" )
			{ 
				rowSet[i].style.backgroundColor = "#eee";
			}
		}
	}
	
	function getCurrentStatus()
	{
		if ( data['chosen-status'] === null || data['chosen-status'] === undefined || data['chosen-status'] === '' )
		{
			return 'Submitted';
		}
		else
		{
			data['chosen-status'];
		}
		
		return 'Submitted';
	}
	
	// persists the selected row to hidden input
	function save(selectedId)
	{
		//alert(selectedId);
		//var store = window.sessionStorage;
		//store.setItem('evnumber', '');
		
		//req.session.data['evidence-number'] = selectedId;
		//console.log(req.session.data['evidence-number']);
		//submit();
	}
</script>

{% endblock %}
