{% extends "version-2/layout.html" %}

{% block pageTitle %}
  View submitted evidence note
{% endblock %}

{% block content %}

<form class="form" action="/version-2/pcs-journey/314-save-and-continue" method="post">

  <h1 class="govuk-heading-l">Transfer evidence to another Producer Compliance Scheme</h1>
  
	<div class="govuk-grid-row">

		<div class="govuk-grid-column-three-quarters">

			<h2 class="govuk-heading-m">Which scheme would you like to transfer evidence to?</h2>

			<div class="govuk-form-group govuk-!-margin-bottom-7">
			  <select class="govuk-select" name="transfer-selected-pcs">
				<option value=" "> </option>

				{% if data['schemes'] %}
				
					{% for scheme in data['schemes']._schemes %}
						<option value="{{scheme._name}}">{{scheme._name}}</option>
					{% endfor %}

				{% else %}
				<option value="Recyling Lives">Recyling Lives</option>
				<option value="Waste recycling">Waste recycling</option>
				<option value="WEEE team">WEEE team</option>
				{% endif %}
				
			  </select>
			</div>

			<div class="govuk-!-margin-bottom-2">
			<h2 class="govuk-heading-m">Which categories are you transferring from?</h2>
			</div>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading"></h1>
					</legend>
					
					<div id="waste-hint" class="govuk-hint"></div>
					
					<div class="govuk-checkboxes" data-module="govuk-checkboxes">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-1" name="waste-1" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-1">1. Large household appliances</label>
						</div>
						
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-2" name="waste-2" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-2">2. Small household appliances</label>
						</div>
						
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-3" name="waste-3" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-3">3. IT and telecommunications equipment</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-4" name="waste-4" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-4">4. Consumer equipment</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-5" name="waste-5" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-5">5. Lighting equipment</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-6" name="waste-6" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-6">6. Electrical and electronic tools</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-7" name="waste-7" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-7">7. Toys, leisure and sports equipment</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-8" name="waste-8" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-8">8. Medical devices</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-9" name="waste-9" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-9">9. Monitoring and control instruments</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-10" name="waste-10" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-10">10. Automatic dispensers</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-11" name="waste-11" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-11">11. Display equipment</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-12" name="waste-12" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-12">12. Cooling appliances containing refridgerants</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-13" name="waste-13" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label" for="waste-13">13. Gas discharge lamps</label>
						</div>

						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" id="waste-14" name="waste-14" type="checkbox" >
							<label class="govuk-label govuk-checkboxes__label" for="waste-14">14. Photovoltaic panels</label>
						</div>
					</div>
				</fieldset>
			</div>

		</div>

	</div>
		
	<div class="govuk-!-margin-top-7">
		{{ govukButton({
			text: "Save and continue"
		  }) }}
	</div>

</form>

{% endblock %}
