{% extends "version-2/layout_no_back.html" %}

{% block pageTitle %}
  View submitted evidence note
{% endblock %}

{% block content %}
		<script src="/public/javascripts/jquery-1.11.3.js"></script>

		<a class="govuk-body" href="/version-2/pcs-journey/310-manage-evidence" class="govuk-link">Manage evidence</a>
		
		<form class="form" action="/version-2/pcs-journey/317-save-and-continue" method="post">
			<div class="govuk-!-padding-bottom-5"></div>
			<div class="govuk-grid-row">
				
				<div class="govuk-grid-column-full">
				
				<h1 class="govuk-heading-l">Evidence note (transfer) 

					<div class="govuk-!-margin-top-7">
						{{ govukButton({
							text: "Download as PDF"
						}) }}
					</div>
				</div>
			</div>

		</form>
		
	
{% endblock %}
