{% extends "version-2/layout.html" %}

{% block pageTitle %}
  Edit evidence note
{% endblock %}

{% block content %}

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/evidence.js"></script>

<div class="govuk-error-summary" aria-labelledby="error-summary-title" style="display: none; margin-bottom: 25px;" id="errorSummary" role="alert"
    tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li>
                <a href="#" id="recipientError">Please select a recipient</a>
            </li>
			<li>
				<a href="#" id="startDateError">Please select a start date</a>
			</li>
			<li>
				<a href="#" id="endDateError">Please select an end date</a>
			</li>
			<li>
				<a href="#" id="yearError">Please select a compliance year</a>
			</li>
			<li>
				<a href="#" id="wasteError">Please select type of waste</a>
			</li>
			<li>
				<a href="#" id="protocolError">Please select protocol</a>
			</li>
        </ul>
    </div>
</div>

<form class="form" action="/version-2/aatf-journey-v4/save-evidence-note" method="post">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
  
		<h1 class="govuk-heading-l">Enter evidence note details</h1>
		
		<h2 class="govuk-heading-m">Reference ID {{ data['selected-evidence-note']._reference }}</h2>
	  
		<input type="hidden" id="reference" name="reference" value="{{ data['selected-evidence-note']._reference }}" />

		<div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-1">
			<div class="govuk-grid-column-full" style="margin-bottom: -15px;">
				<h3 class="govuk-body-m">Period in which WEEE was received for treatment</h3>
			</div>
			<div class="govuk-grid-column-one-half">
				<div class="govuk-label--s">Start date<br /></div><input type="Date" class="govuk-input" value="{{ data['selectedStartDate'] }}" name="startDate" id="startDate"/>
			</div>
			<div class="govuk-grid-column-one-half">
				<div class="govuk-label--s">End date<br /></div><input type="Date" class="govuk-input" value="{{ data['selectedEndDate'] }}" name="endDate" id="endDate"/>
			</div>
		</div>

		<div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-3">
			<div class="govuk-grid-column-one-half">
			<div class="govuk-label--s">Recipient</div>
			<input class="govuk-input govuk-select" type="text" name="pcs" list="recipientsList" value="{{ data['selectedpcs'] }}" id="pcs">
			<datalist id="recipientsList" class="govuk-input">

				{% if data['schemes'] %}
				
					{% for scheme in data['schemes']._schemes %}
						<option value="{{scheme._name}}" />
					{% endfor %}

				{% else %}
					<option value="ABB 2 Ltd" />
					<option value="ABB 3 Ltd" />
					<option value="NBC 1 Ltd" />
					<option value="NBC 2 Ltd" />
					<option value="NBC 3 Ltd" />
					<option value="CBS 1 Ltd" />
					<option value="CBS 2 Ltd" />
					<option value="CBS 3 Ltd" />
					<option value="PBS 1 Ltd" />
					<option value="PBS 2 Ltd" />
					<option value="PBS 3 Ltd" />
				{% endif %}

			</datalist>
			
			</div>
		</div>
		
		<div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
			<div class="govuk-grid-column-one-half govuk-!-padding-bottom-0">
				<div class="govuk-label--s">Type of waste</div>
				{{ govukSelect({
					id: "wasteType",
					name: "wasteType",
					classes: "govuk-input",
					items: [
					  {
						value: "0",
						text: "Type of waste"
					  },
					  {
						value: "Household",
						text: "Household",
						selected: data['selected-evidence-note']._wasteType === 'Household'
					  },
					  {
						value: "Non-household",
						text: "Non-household",
						selected: data['selected-evidence-note']._wasteType === 'Non-household'
					  }
					]
				  }) }}

			</div>	
		</div>
		
		<div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-0">
			<div class="govuk-grid-column-one-half govuk-!-padding-bottom-0">
				<div class="govuk-label--s">Actual or protocol</div>
				{{ govukSelect({
					id: "protocol",
					name: "protocol",
					classes: "govuk-input",
					items: [
					  {
						value: "0",
						text: "Actual or protocol"
					  },
					  {
						value: "Actual",
						text: "Actual",
						selected: data['selected-evidence-note']._protocol === 'Actual'
					  },
					  {
						value: "National protocol",
						text: "National protocol",
						selected: data['selected-evidence-note']._protocol === 'National protocol'
					  },
					  {
						value: "Site protocol",
						text: "Site protocol",
						selected: data['selected-evidence-note']._protocol === 'Site protocol'
					  },
					  {
						value: "Re-use network weights",
						text: "Re-use network weights",
						selected: data['selected-evidence-note']._protocol === 'Re-use network weights'
					  }
					]
				  }) }}
			</div>	
		</div>

		</div>
		
	    <div>
			<div class="govuk-!-padding-top-3 govuk-grid-column-one-half">
				<p>
					Input tonnage below
					<br />
					Provide tonnage to 3 decimal places. For example 1.238
				</p>
			</div>

			<div class="govuk-!-padding-top-3 govuk-grid-column-one-half">
				<a href="/version-2/copy-paste-redirect?returnUrl=410_Edit_draft_evidence_note" class="govuk-link">Use copy and paste to populate the table</a>
			</div>
		</div>
		
		<input type="hidden" id="paste-values-hidden" name="paste-values-hidden" value="{{ data['paste-values'] }}">
	    <div class="govuk-!-padding-top-3 govuk-grid-column-full">
		
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr>
						<th scope="col" class="govuk-table__header govuk-!-width-one-half">Category</th>
						<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Total received (tonnes)</th>
						<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Re-used as whole appliances (tonnes)</th>
					</tr>
				</thead>
				
				<tbody class="govuk-table__body">
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">1. Large household appliances</td>
						<td class="govuk-table__cell"><input type="text" name="received1" id="received1" class="govuk-input" value="{{ data['selected-evidence-note']._received._largeHouseholdAppliances }}" /></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed1" id="reUsed1" class="govuk-input" value="{{ data['selected-evidence-note']._reused._largeHouseholdAppliances }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">2. Small household appliances</td>
						<td class="govuk-table__cell"><input type="text" name="received2" id="received2" class="govuk-input" value="{{ data['selected-evidence-note']._received._smallHouseholdAppliances }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed2" id="reUsed2" class="govuk-input" value="{{ data['selected-evidence-note']._reused._smallHouseholdAppliances }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">3. IT and telecommunications equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received3" id="received3" class="govuk-input" value="{{ data['selected-evidence-note']._received._itAndTelecommunicationsEquipment }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed3" id="reUsed3" class="govuk-input" value="{{ data['selected-evidence-note']._reused._itAndTelecommunicationsEquipment }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">4. Consumer equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received4" id="received4" class="govuk-input" value="{{ data['selected-evidence-note']._received._consumerEquipment }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed4" id="reUsed4" class="govuk-input" value="{{ data['selected-evidence-note']._reused._consumerEquipment }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">5. Lighting equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received5" id="received5" class="govuk-input" value="{{ data['selected-evidence-note']._received._lightingEquipment }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed5" id="reUsed5" class="govuk-input" value="{{ data['selected-evidence-note']._reused._lightingEquipment }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">6. Electrical and electronic tools</td>
						<td class="govuk-table__cell"><input type="text" name="received6" id="received6" class="govuk-input" value="{{ data['selected-evidence-note']._received._electricalAndElectronicTools }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed6" id="reUsed6" class="govuk-input" value="{{ data['selected-evidence-note']._reused._electricalAndElectronicTools }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">7. Toys, leisure and sports equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received7" id="received7" class="govuk-input" value="{{ data['selected-evidence-note']._received._toysLeisureAndSportsEquipment }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed7" id="reUsed7" class="govuk-input" value="{{ data['selected-evidence-note']._reused._toysLeisureAndSportsEquipment }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">8. Medical devices</td>
						<td class="govuk-table__cell"><input type="text" name="received8" id="received8" class="govuk-input" value="{{ data['selected-evidence-note']._received._medicalDevices }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed8" id="reUsed8" class="govuk-input" value="{{ data['selected-evidence-note']._reused._medicalDevices }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">9. Monitoring and control instruments</td>
						<td class="govuk-table__cell"><input type="text" name="received9" id="received9" class="govuk-input" value="{{ data['selected-evidence-note']._received._monitoringAndControlInstruments }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed9" id="reUsed9" class="govuk-input" value="{{ data['selected-evidence-note']._reused._monitoringAndControlInstruments }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">10. Automatic dispensers</td>
						<td class="govuk-table__cell"><input type="text" name="received10" id="received10" class="govuk-input" value="{{ data['selected-evidence-note']._received._automaticDispensers }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed10" id="reUsed10" class="govuk-input" value="{{ data['selected-evidence-note']._reused._automaticDispensers }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">11. Display equipment</td>
						<td class="govuk-table__cell"><input type="text" name="received11" id="received11" class="govuk-input" value="{{ data['selected-evidence-note']._received._appliancesContainingRefrigerants }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed11" id="reUsed11" class="govuk-input" value="{{ data['selected-evidence-note']._reused._appliancesContainingRefrigerants }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">12. Cooling appliances containing refridgerants</td>
						<td class="govuk-table__cell"><input type="text" name="received12" id="received12" class="govuk-input" value="{{ data['selected-evidence-note']._received._gasDischargeLampsAndLedLightSources }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed12" id="reUsed12" class="govuk-input" value="{{ data['selected-evidence-note']._reused._gasDischargeLampsAndLedLightSources }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">13. Gas discharge lamps</td>
						<td class="govuk-table__cell"><input type="text" name="received13" id="received13" class="govuk-input" value="{{ data['selected-evidence-note']._received._displayEquipment }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed13" id="reUsed13" class="govuk-input" value="{{ data['selected-evidence-note']._reused._displayEquipment }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">14. Photovoltaic panels</td>
						<td class="govuk-table__cell"><input type="text" name="received14" id="received14" class="govuk-input" value="{{ data['selected-evidence-note']._received._photovoltaicPanel }}"/></td>
						<td class="govuk-table__cell"><input type="text" name="reUsed14" id="reUsed14" class="govuk-input" value="{{ data['selected-evidence-note']._reused._photovoltaicPanel }}"/></td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<h3 class="govuk-heading-s">Total</h3>
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							<h3 class="govuk-heading-s" style="float: left" id="tonneTotalReceived">0.000 tonnes</h3>
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							<h3 class="govuk-heading-s" style="float: left" id="tonneTotalReUsed">0.000 tonnes</h3>
						</td>
					</tr>

				</tbody>
			</table>
		
			<div class="govuk-!-margin-top-3">
	
				<button type="submit" class="govuk-button" id="add-note" name="action" value="submit">
					Submit evidence note
				</button>
			
				{{ govukButton({
					text: "Save as draft", classes: "govuk-button--secondary",
					name: "action",
					value: "save"
				  }) }}
			
			</div>
		</div>
		
    </div>
  </div>
  
</form>
{% endblock %}
