{% extends "version-2/layout_no_back.html" %}

{% block pageTitle %}
  View submitted evidence note
{% endblock %}

{% block content %}

<a class="govuk-back-link govuk-!-margin-top-1 govuk-!-margin-bottom-7" href="/version-2/pcs-journey-v4/412-manage-evidence-note">Back</a>

<form class="form" action="/version-2/pcs-journey-v4/414-save-and-continue" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="width: 90%;">
	  
		<h1 class="govuk-heading-l">Check evidence note details</h1>
		
		<p class="govuk-body-l">After review, you can choose whether to approve, reject or return the evidence note.</p>

		<h2 class="govuk-heading-l">Evidence note</h2>

		<div class="govuk-grid-column-full govuk-!-margin-bottom-4">
		
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Reference ID</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._reference }}</span>
			</div>
			
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Status</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._status }}</span>
			</div>
			
			<!-- div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Date created</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._createdDate }}</span>
			</div -->
			
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Date submitted</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._submittedDate }}</span>
			</div>
			
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Compliance period</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._year }}</span>
			</div>
			
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Type of waste</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._wasteType }}</span>
			</div>
			
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Actual or protocol</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._protocol }}</span>
			</div>
		
		</div>

		<div class="govuk-grid-column-full govuk-!-margin-bottom-4" style="padding-left: 0;">
		
			<div class="govuk-grid-column-one-third" style="padding: 0 12px 0 0;">  
				<div class="govuk-label--s" style="padding: 0 0 8px 0;">Issuing site</div>
				<div class="govuk-body">
					Electrical Waste Recycling Group Limited (Huddersfield) <br />
					<b>WEE/AB0001YZ/ATF</b> <br />
					12 May Lane <br />
					Hammersmith <br />
					London <br />
					SW13 TYH
				</div>
			</div>
			
			<div class="govuk-grid-column-one-third" style="padding: 0 12px 0 0;">  
				<div class="govuk-label--s" style="padding: 0 0 8px 0;">Operator</div>
				<div class="govuk-body">
					{{ data['selected-evidence-note']._pcs }} <br />
					12 May Lane <br />
					Hammersmith <br />
					London <br />
					SW13 TYH
				</div>
			</div>
			
			<div class="govuk-grid-column-one-third" style="padding: 0 12px 0 0;">  
				<div class="govuk-label--s" style="padding: 0 0 8px 0;">Recipient</div>
				<div class="govuk-body">
					Recycling Lives compliance services LTD <br />
					1 Bart avenue <br />
					Reading <br />
					RG1 ATR
				</div>
			</div>
			
		</div>                                  
		  
		<div class="govuk-width-container govuk-!-margin-bottom-3 govuk-grid-column-full govuk-body" style="padding: 0 0 0 0;">
			By submitting this information you confirm that the following waste and electronic equipment from UK <b>household</b> 
			has been received between <b>{{ data['selected-evidence-note']._startDate }}</b> and <b>{{ data['selected-evidence-note']._endDate }}</b> at this site. 
			It has been reused as whole appliances to the extent set out below. 
			No other evidence has been issued on these WEEE materials.
		</div>
		
		<div class="govuk-width-container govuk-!-margin-top-3 govuk-grid-column-full" style="padding: 0 0 0 0;">
		
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr>
						<th scope="col" class="govuk-table__header" style="vertical-align: bottom; width: 45%;">Category</th>
						<th scope="col" class="govuk-table__header govuk-!-text-align-right" style="vertical-align: bottom; width: 30%;">Total received (tonnes)</th>
						<th scope="col" class="govuk-table__header govuk-!-text-align-right" style="vertical-align: bottom; width: 25%;">Re-used as whole appliances (tonnes)</th>
					</tr>
				</thead>
				
				<tbody class="govuk-table__body">
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">1- Large household appliances</td>
						<td class="govuk-table__cell govuk-!-text-align-right">48</td>
						<td class="govuk-table__cell govuk-!-text-align-right">2</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">2- Small household appliances</td>
						<td class="govuk-table__cell govuk-!-text-align-right">21</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">3- IT and telecommunications equipment</td>
						<td class="govuk-table__cell govuk-!-text-align-right">1</td>
						<td class="govuk-table__cell govuk-!-text-align-right">1</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">4- Consumer equipment</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">5- Lighting equipment</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">6- Electrical and electronic tools</td>
						<td class="govuk-table__cell govuk-!-text-align-right">14</td>
						<td class="govuk-table__cell govuk-!-text-align-right">3</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">7- Toys, leisure and sports equipment</td>
						<td class="govuk-table__cell govuk-!-text-align-right">32</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">8- Medical devices</td>
						<td class="govuk-table__cell govuk-!-text-align-right">11</td>
						<td class="govuk-table__cell govuk-!-text-align-right">1</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">9- Monitoring and control instruments</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">10- Automatic dispensers</td>
						<td class="govuk-table__cell govuk-!-text-align-right">3</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">11- Display equipment</td>
						<td class="govuk-table__cell govuk-!-text-align-right">1</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">12- Cooling appliances containing refridgerants</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">13- Gas discharge lamps</td>
						<td class="govuk-table__cell govuk-!-text-align-right">5</td>
						<td class="govuk-table__cell govuk-!-text-align-right">1</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">14- Photovoltaic panels</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
						<td class="govuk-table__cell govuk-!-text-align-right">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<th class="govuk-table__cell" style="font-weight: 600; border-bottom: 0;">Total (tonnes)</th>
						<th class="govuk-table__cell govuk-!-text-align-right" style="font-weight: 600; border-bottom: 0;">136</th>
						<th class="govuk-table__cell govuk-!-text-align-right" style="font-weight: 600; border-bottom: 0;">8</th>
					</tr>

				</tbody>
			</table>
		
		</div>
    </div>
  </div>



	<div class="govuk-!-margin-top-3 govuk-!-margin-bottom-9">
		{{ govukRadios
			({
			  idPrefix: "choose-status",
			  name: "choose-status",
			  fieldset: 
			  {
				legend: 
				{
				  text: "Choose whether to approve, reject or return the evidence note",
				  isPageHeading: true,
				  classes: "govuk-fieldset__legend--l civica-font-size-19"
				}
			  },
			  items: 
			  [
				{
				  value: "1",
				  text: "Approve evidence note"
				},
				{
				  value: "2",
				  text: "Reject evidence note",
				  hint: 
				  { 
					text: "Reject an evidence note if you have received the evidence note by mistake or if there is a large number of updates to make that it is quicker to create a new evidence note.", 
					classes: "civica-hint" 
				  }
				},
				{
				  value: "3",
				  text: "Return evidence note",
				  hint: 
				  { 
					text: "Return an evidence note if there are some minor updates to be made by the AATF.", 
					classes: "civica-hint" 
				  }
				}
			  ]
			}) 
		}}
		
		<div id="note-area" style="display: none;">
			<div id="question-2" class="govuk-input" style="border: 0;">What is the reason you are rejecting the evidence note?</div>
			<div id="question-3" class="govuk-input" style="border: 0;">What is the reason you are returning the evidence note?</div>
			<textarea class="civica-textarea govuk-input" id="reject-return-reason" name="reject-return-reason"></textarea>
		</div>
	</div>
			
	<div class="govuk-!-margin-top-3">
		{{ govukButton({
			text: "Save and continue",
			classes: "civica-font-size-22"
		  }) }}
	</div>



<script>
	function showNoteArea2(event)
	{
		document.getElementById("question-2").style = "display: block; border: 0;";
		document.getElementById("question-3").style = "display: none; border: 0;";
		document.getElementById("note-area").style = "display: block;";
	}
	function showNoteArea3(event)
	{
		document.getElementById("question-2").style = "display: none; border: 0;";
		document.getElementById("question-3").style = "display: block; border: 0;";
		document.getElementById("note-area").style = "display: block;";
	}
	function hideNoteArea(event)
	{
		document.getElementById("question-2").style = "display: none; border: 0;";
		document.getElementById("question-3").style = "display: none; border: 0;";
		document.getElementById("note-area").style = "display: none;";
	}
	document.getElementById("choose-status").addEventListener("click", hideNoteArea);
	document.getElementById("choose-status-2").addEventListener("click", showNoteArea2);
	document.getElementById("choose-status-3").addEventListener("click", showNoteArea3);
</script>

</form>

{% endblock %}
