{% extends "version-2/layout.html" %}

{% block pageTitle %}
  View submitted evidence note
{% endblock %}

{% block content %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<style> div { border: 0px solid black; } </style>

		<form class="form" action="/version-2/pcs-journey-v4/419-view-transfer-note-after-submission" method="post">

		<h1 class="govuk-heading-l govuk-!-margin-bottom-9">Check evidence transfer details before submitting</h1>
		
			<div class="govuk-grid-row">
				
				<div class="govuk-grid-column-full">

					<div class="govuk-width-container govuk-grid-column-full govuk-!-padding-left-0">
		
						<div class="govuk-grid-column-one-third govuk-!-margin-left-0 govuk-!-margin-bottom-7">  
							<div class="govuk-grid-row govuk-label--s govuk-!-margin-bottom-1">Transferring PCS</div>
							<div class="govuk-grid-row govuk-body">
								Recycling Plant <br />
								12 May Lane<br />
								Hammersmith <br />
								London <br />
								SW13 TYH
							</div>
						</div>
						
						<div class="govuk-grid-column-one-third">  
							<div class="govuk-grid-row govuk-label--s govuk-!-margin-bottom-1">Recipient</div>
							<div class="govuk-grid-row govuk-body">
								
								{% if data['transfer-selected-pcs'] %}
										<span> {{data['transfer-selected-pcs']}}</span>
										{% else %}
										<span>Waste Collectors</span>
										{% endif %}
								
								 <br />
								1 Bart avenue <br />
								Reading <br />
								RG1 ATR
							</div>
						</div>
						
					</div>    
					
			
				<div class="govuk-!-margin-bottom-7">
					<h2 class="govuk-heading-m">Total transferred (tonnes)</h2>
		
					<table class="govuk-table">
						<caption class="govuk-table__caption govuk-table__caption--l"></caption>
						<thead class="govuk-table__head">
						  <tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Category</th>
							<th scope="col" class="govuk-table__header civica-align-left" style="width: 180px;">Total transferred (tonnes)</th>
							<th scope="col" class="govuk-table__header civica-align-left" style="width: 180px;">Total reused transferred (tonnes)</th>
						  </tr>
						</thead>
						<tbody class="govuk-table__body">
							
							{% for category in data['selected-transfer-categories'] %}
							
								<tr class="govuk-table__row civica-transfer-totals-row">
									<td class="govuk-table__cell"><input type="hidden" name="category" value="{{category._category._id}}" />{{category._category._id}}. {{category._category._description}} </td>
									<td class="govuk-table__cell civica-align-right">
									
										<span id="{{category._category._id}}-total-received">
											{% if category._totalReceived == '0' %}
											<span>-</span>
											{% else %}
											{{category._totalReceived}}
											{% endif %}
										</span>
										
										<!--
										<span>{{data['grand-total-received']}}</span>
										-->
									
									</td>
									<td class="govuk-table__cell civica-align-right">
									
										<span id="{{category._category._id}}-total-reused">
											{% if category._totalReused == '0' %}
											<span>-</span>
											{% else %}
											{{category._totalReused}}
											{% endif %}
										</span>
										
										<!--
										<span>{{data['grand-total-reused']}}</span>
										-->
									
									</td>	
								</tr>
								
							{% endfor %}
							
						</tbody>
					  </table>
					  
				</div>
				
				<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-9">&nbsp;</div>
		
				<div class="govuk-!-margin-top-7 govuk-!-margin-bottom-7">
					<h2 class="govuk-heading-m">Breakdown of evidence transferred</h2>
					
					{% if data['selected-transfer-aatfs'] %}
		
					{% for aatf in data['selected-transfer-aatfs'] %}
						<h3 class="govuk-heading-s">Original AATF: {{aatf._name}} ({{aatf._reference}})</h2>
		
						<table class="govuk-table">
							<caption class="govuk-table__caption govuk-table__caption--l "></caption>
							<thead class="govuk-table__head">
								<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header" style="width:150px;">Reference ID</th>
								<th scope="col" class="govuk-table__header">Category</th>
								<th scope="col" class="govuk-table__header civica-align-left" style="width:180px;">Total transferred (tonnes)</th>
								<th scope="col" class="govuk-table__header civica-align-left" style="width:180px;">Total reused transferred (tonnes)</th>
								</tr>
							</thead>
							<tbody class="govuk-table__body">
								{% for transfer in aatf._notes %}
		
								{% for i in range(0, transfer._categories.length) %}
								<tr class="govuk-table__row">
											
									{% if i === 0 %}
										<td class="govuk-table__cell civica-transfer-vertical-middle" rowspan="{{transfer._categories.length}}">{{transfer._id}} </td>
									{% endif %}
		
									<td class="govuk-table__cell">{{transfer._categories[i]._category._id}}. {{transfer._categories[i]._category._description}} </td>
									<td class="govuk-table__cell civica-align-right">
										
										{% if transfer._categories[i]._transferReceivedTonnage == 0 %}
										<span>-</span>
										{% else %}
										{{transfer._categories[i]._transferReceivedTonnage}}
										{% endif %}
		
									
									</td>
									<td class="govuk-table__cell civica-align-right">
										{% if transfer._categories[i]._transferReusedTonnage == 0 %}
										<span>-</span>
										{% else %}
										{{transfer._categories[i]._transferReusedTonnage}}
										{% endif %}
									</td>	
								</tr>
								{% endfor %}
		
								{% endfor %}
							</tbody>
							</table>
					{% endfor %}	
					{% endif %}
				</div>
					
				<div class="govuk-!-margin-top-9">
					{{ govukButton({
						text: "Submit transfer",
						name: "action",
						value: "submit", 
						classes: "govuk-!-font-weight-bold govuk-!-padding-left-7 govuk-!-padding-right-7 govuk-!-padding-top-2 govuk-!-padding-bottom-2 govuk-!-font-size-19"
					}) }}
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					{{ govukButton({
						text: "Save as draft",
						name: "action",
						value: "save",
						classes: "govuk-button--secondary govuk-!-font-weight-bold govuk-!-padding-left-7 govuk-!-padding-right-7 govuk-!-padding-top-2 govuk-!-padding-bottom-2 govuk-!-font-size-19"
					}) }}
				</div>
					
				</div>
			</div>

		</form>
		
<script src="/public/javascripts/transfer-totals-v4.js"></script>

{% endblock %}
