{% extends "version-2/layout_no_back.html" %}

{% block pageTitle %}
  View submitted evidence note
{% endblock %}

{% block content %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script>
function showHide()
{
	var widget = $("#transfer-history");
	
	if (widget.css("display") === "none") 
		widget.css("display","block");
	else	
		widget.css("display","none");
}
</script>

<div class="govuk-!-margin-bottom-5"><a class="govuk-back-link" href="/version-2/pcs-journey-v4/412-manage-evidence-note">Back</a></div>

{% if ( data['transferred-notes-tab4'] ) %}
<div class="govuk-!-margin-bottom-9">
	<div class="govuk-!-margin-bottom-3"><a class="govuk-body govuk-back-link" href="javascript:showHide();">Transfer history</a></div>
	<div id="transfer-history" class="civica-transfer-hint" style="display: none;">
		<div style="border: 1px solid #666; padding: 8px; margin: 0 0 0 0;">
			<!--
			<div class="govuk-body govuk-!-margin-bottom-1">02/03/2022 Transfer to Recyling Lives <a href="/version-2/pcs-journey-v4/420-view-evidence-note?id=1399">View</a></div>
			<div class="govuk-body govuk-!-margin-bottom-1">03/03/2022 Transfer to Repic Ltd <a href="/version-2/pcs-journey-v4/420-view-evidence-note?id=1255">View</a></div>
			-->
			{% for transferNote in data['transferred-notes-tab4'] %}
			
				<div class="govuk-body govuk-!-margin-bottom-1">
					{{ transferNote._transferDate.split(" ")[0] }} Transfer to {{ transferNote._aatfData._name }}
					<a href="/version-2/pcs-journey-v4/419a-view-transfer-note-from-link?id={{ transferNote._id }}">View</a>
				</div>

			{% endfor %}
			
			<div class="govuk-body govuk-!-margin-bottom-1">&nbsp;</div>
		</div>
	</div>
</div>
{% endif %}

<form class="form" action="/version-2/pcs-journey-v4/421-download-as-pdf" method="post">
	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters" style="width: 90%;">

		<h2 class="govuk-heading-m">Evidence note {{ data['selected-evidence-note']._reference }}</h2>

		<div class="govuk-width-container govuk-grid-column-full govuk-!-margin-top-3 govuk-!-margin-left-0">
		
			<!-- div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Reference ID:</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._reference }}</span>
			</div -->
		
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Status:</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._status }}</span>
			</div>
			
			{% if ( data['reject-return-reason'] ) %}

				<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
					<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Reason:</span> 
					<span class="govuk-body govuk-!-margin-left-2">{{ data['reject-return-reason'] }}</span>
				</div>

			{% endif %}


			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Date submitted:</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._submittedDate }}</span>
			</div>

			{% if ( data['selected-evidence-note']._status === 'Approved' ) %}
				<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
					<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Date approved:</span> 
					<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._approvedDate }}</span>
				</div>
			{% endif %}

			{% if ( data['selected-evidence-note']._status === 'Rejected' ) %}
				<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
					<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Date rejected:</span> 
					<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._rejectedDate }}</span>
				</div>
			{% endif %}

			{% if ( data['selected-evidence-note']._status === 'Returned' ) %}
				<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
					<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Date returned:</span> 
					<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._returnedDate }}</span>
				</div>
			{% endif %}
				
		
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Compliance period:</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._year }}</span>
			</div>
			
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Type of waste:</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._wasteType }}</span>
			</div>
			
			<div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-margin-bottom-1">
				<span class="govuk-grid-column-one-third govuk-label--s govuk-!-margin-left-0 govuk-!-padding-left-0">Actual or protocol:</span> 
				<span class="govuk-body govuk-!-margin-left-2">{{ data['selected-evidence-note']._protocol }}</span>
			</div>
		
		</div>

		<div class="govuk-width-container govuk-!-margin-top-3 govuk-grid-column-full" style="padding: 0 0 0 0;">
		
			<div class="govuk-grid-column-one-third">  
				<div class="govuk-grid-row govuk-label--s" style="padding: 0 0 0 0;">Issuing site</div>
				<div class="govuk-grid-row govuk-body">
					Electrical Waste Recycling Group Limited (Huddersfield) <br />
					<b>WEE/AB0001YZ/ATF</b> <br />
					12 May Lane <br />
					Hammersmith <br />
					London <br />
					SW13 TYH
				</div>
			</div>
			
			<div class="govuk-grid-column-one-third">  
				<div class="govuk-grid-row govuk-label--s" style="padding: 0 0 0 0;">Operator name</div>
				<div class="govuk-grid-row govuk-body">
					Electrical Waste Recycling Group Limited <br />
					12 May Lane <br />
					Hammersmith <br />
					London <br />
					SW13 TYH
				</div>
			</div>
			
			<div class="govuk-grid-column-one-third">  
				<div class="govuk-grid-row govuk-label--s" style="padding: 0 0 0 0;">Recipient</div>
				<div class="govuk-grid-row govuk-body">
					Recycle Team LTD <br />
					1 Bart avenue <br />
					Reading <br />
					RG1 ATR
				</div>
			</div>
			
		</div>                                  
		  
		<div class="govuk-width-container govuk-!-margin-top-3 govuk-grid-column-full govuk-body" style="padding: 0 0 0 0;">
			By submitting this information you confirm that the following waste and electronic equipment from UK <b>household</b> 
			has been received between <b>{{ data['selected-evidence-note']._startDate }}</b> and <b>{{ data['selected-evidence-note']._endDate }}</b> at this site. 
			It has been reused as whole appliances to the extent set out below. 
			No other evidence has been issued on these WEEE materials
		</div>
		
		<div class="govuk-width-container govuk-!-margin-top-3 govuk-grid-column-full" style="padding: 0 0 0 0;">
		
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr>
						<th scope="col" class="govuk-table__header" style="vertical-align: bottom;">Category</th>
						<th scope="col" class="govuk-table__header" style="vertical-align: bottom; width: 120px;">Total received (tonnes)</th>
						<th scope="col" class="govuk-table__header" style="vertical-align: bottom; width: 150px;">Total re-used as whole appliances (tonnes)</th>
						<th scope="col" class="govuk-table__header" style="vertical-align: bottom; width: 120px;">Total after transfer (tonnes)</th>
						<th scope="col" class="govuk-table__header" style="vertical-align: bottom; width: 120px;">Total re-used after transfer (tonnes)</th>
					</tr>
				</thead>
				
				<tbody class="govuk-table__body">
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">1. Large household appliances</td>
						<td class="govuk-table__cell">48</td>
						<td class="govuk-table__cell">2</td>
						<td class="govuk-table__cell">2</td>
						<td class="govuk-table__cell">2</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">2. Small household appliances</td>
						<td class="govuk-table__cell">21</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">7</td>
						<td class="govuk-table__cell">2</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">3. IT and telecommunications equipment</td>
						<td class="govuk-table__cell">1</td>
						<td class="govuk-table__cell">1</td>
						<td class="govuk-table__cell">10</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">4. Consumer equipment</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">14</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">5. Lighting equipment</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">15</td>
						<td class="govuk-table__cell">0</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">6. Electrical and electronic tools</td>
						<td class="govuk-table__cell">14</td>
						<td class="govuk-table__cell">3</td>
						<td class="govuk-table__cell">1</td>
						<td class="govuk-table__cell">0</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">7. Toys, leisure and sports equipment</td>
						<td class="govuk-table__cell">32</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">7</td>
						<td class="govuk-table__cell">0</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">8. Medical devices</td>
						<td class="govuk-table__cell">11</td>
						<td class="govuk-table__cell">1</td>
						<td class="govuk-table__cell">3</td>
						<td class="govuk-table__cell">4</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">9. Monitoring and control instruments</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">0</td>
						<td class="govuk-table__cell">0</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">10. Automatic dispensers</td>
						<td class="govuk-table__cell">3</td>
						<td class="govuk-table__cell">0</td>
						<td class="govuk-table__cell">15</td>
						<td class="govuk-table__cell">1</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">11. Display equipment</td>
						<td class="govuk-table__cell">1</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">0</td>
						<td class="govuk-table__cell">1</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">12. Cooling appliances containing refridgerants</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">8</td>
						<td class="govuk-table__cell">0</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">13. Gas discharge lamps</td>
						<td class="govuk-table__cell">5</td>
						<td class="govuk-table__cell">1</td>
						<td class="govuk-table__cell">5</td>
						<td class="govuk-table__cell">8</td>
					</tr>
				
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">14. Photovoltaic panels</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">-</td>
						<td class="govuk-table__cell">5</td>
						<td class="govuk-table__cell">0</td>
					</tr>
				
					<tr class="govuk-table__row">
						<th class="govuk-table__cell" style="font-weight: 600; border-bottom: 0;">Total</th>
						<th class="govuk-table__cell" style="font-weight: 600; border-bottom: 0;">136</th>
						<th class="govuk-table__cell" style="font-weight: 600; border-bottom: 0;">8</th>
						<th class="govuk-table__cell" style="font-weight: 600; border-bottom: 0;">92</th>
						<th class="govuk-table__cell" style="font-weight: 600; border-bottom: 0;">18</th>
					</tr>

				</tbody>
			</table>
		
		</div>
    </div>
  </div>
	<div class="govuk-!-margin-top-3">
		{{ govukButton({
			text: "Download PDF",
			classes: "civica-font-size-22"
		  }) }}
	</div>
</form>

{% endblock %}
