{% extends "version-2/layout.html" %}

{% block pageTitle %}
  Choose an AATF site
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">WEEE received for treatment</h2>
<h2 class="govuk-heading-l" id="heading-text"></h2>
<p class="govuk-body">Provide tonnage to 3 decimal places for 14 categories. For example 1.238</p>
<p class="govuk-body">You can copy the WEEE in tonnes from an Excel spreadsheet.</p>
<p class="govuk-body">Data entered here will be interpreted as category 1 at the top through to category 14 at the bottom.</p>
<form action="/version-2/paste-values-save" method="post" class="form" style="display: inline">
    
    <textarea class="govuk-textarea" placeholder="Paste values here" id="paste-text-area" name="paste-text-area" style="height: 400px;"></textarea>
    <button type="submit" class="govuk-button" id="paste-values-save">
        Save and continue
    </button>
    
</form>
<form action="/version-2/cancel-copy-paste-redirect" method="post" class="form" style="display: inline">
    <button type="submit" class="govuk-button govuk-button--secondary">
            Cancel
        </button>
    </form>

{% endblock %}
