{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}


<!-- #EndEditable -->
</head>

<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>




<!--end header-->



<main id="content">
	<div class="phase-banner">
			<p>
					<strong class="phase-tag">BETA</strong>
					<span>This is a new service – your <a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
			</p>
	</div>

  <!-- #BeginEditable "banner" -->
<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
					<ul>


								<li>
										<a href="index">Activity</a>: Manage users
								</li>



				</ul>

        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">

            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
                    <form method="post">
                       <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>



  <!-- #EndEditable -->
	<div class="grid-row">
		<div class="column-two-thirds">
					 <section id="main-content">


	 <header class="hgroup">
			 <div>
					 <h1 class="heading-large">User details</h1>
			 </div>
	 </header>

<form method="post">

			 

			 <table>
				<tbody>
					<tr>
						<th>Company</th>
						<td>Chris Org</td>
					</tr>
					<tr>
						<th>Email</th>
						<td><a href="mailto:chriss+test1@sfwltd.co.uk" target="_top">chriss+test1@sfwltf.co.uk</a></td>
					</tr>
				</tbody>
			</table>
			<br/>
			 <div class="form-group">
					 <label class="form-label" for="FirstName">First name </label>

					 <input class="form-control" id="FirstName" maxlength="35" name="FirstName" type="text" value="Chris" />
			 </div>
			 <div class="form-group">
					 <label class="form-label" for="LastName">Last name </label>

					 <input class="form-control" id="LastName" maxlength="35" name="LastName" type="text" value="Smith" />
			 </div>
					 <div class="form-group">
							 <label class="form-label" for="UserStatus">Current status </label>

							 <select autocomplete="false" class="form-control" id="UserStatus" name="UserStatus"><option selected="selected" value="2">Active</option>
<option value="4">Inactive</option>
</select>
					 </div>
			 <div class="form-group">
					 <button class="button" type="submit">Save and continue</button>
			 </div>
			 <p>
					 <a href="javascript:history.back();">Back</a>
			 </p>
</form>
					 </section>
			 </div>
		 </div>
</main>





            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
