{% extends "version1-5/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "back-link/macro.njk" import govukBackLink %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #non-obligated-weee-table .govuk-form-group {
        margin-bottom: 10px;
    }

    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">{{ data['paste-page-title'] }}</h2>
<h3 class="govuk-heading-m">WEEE in tonnes</h2>
<p>Provide tonnage to 3 decimal places. For example 1.238</p>
<form action="/version1-5/AATF-Returns/paste-values-save" method="post" class="form" style="display: inline">
    <textarea class="govuk-textarea" id="paste-text-area" name="paste-text-area" style="height: 400px;"></textarea>
    <button type="submit" class="govuk-button" id="paste-values-save">
        Save and continue
    </button>
    
</form>
<form action="/version1-5/AATF-Returns/paste-values-cancel" method="post" class="form" style="display: inline">
    <button type="submit" class="govuk-button" style="background-color: #bfc1c3; color: #0b0c0c">
            Cancel
        </button>
    </form>
{% endblock %}