{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}


<!-- #EndEditable -->
<style>
.noMargin {
margin-bottom:10px;
padding-bottom: 0px;

}
</style>
</head>

<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>




<!--end header-->



<main id="content">
	<div class="phase-banner">
			<p>
					<strong class="phase-tag">BETA</strong>
					<span>This is a new service – your <a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
			</p>
	</div>

  <!-- #BeginEditable "banner" -->
<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
            <ul>
							<li>
									<a href="">Activity</a>: View producer details
							</li>
							<li>
									<a href="which-scheme">Organisation:</a> Demo Scheme 1
							</li>



            </ul>
        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">
            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
                    <form action="/weee/1/account/sign-out" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="X8BvF4Z88cI5XLLUFn7SKdcUIqwAVVQgd01RgxXsO0vvVM63al1e7k8F-EfcqjiuJgu4nEF1Tfuwh62y5ZPkCZZ40VdocI3ASY3OcVedTMyBGr-HLant0AozyRQWMmqTm4BkhI28IyFhjlRHO2V0vg2" />                        <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>

<div class="grid-row">
		<div class="column-two-thirds">

<header class="hgroup">
		<h1 class="heading-xlarge noMargin">
				<!-- #BeginEditable "header" -->
Demo Scheme 2
								<!-- #EndEditable -->
		</h1>
		
		<a href="which-scheme">Select a different PCS</a>
</header>
<!-- ========================================================================================================== -->
<!-- ========================================================================================================== -->
<!-- ========================================================================================================== -->
<!-- #BeginEditable "body" -->

<div class="section-tabs js-tabs">
<ul>

<li>

											 <a id="pcs-details-tab" href="index-3">PCS details</a>

</li>
<li>

				<a id="organisation-details-tab" href="organisation-details-2">Organisation details</a>

</li>
<li>

				<a id="contact-details-tab" href="contact-details-2">Contact details</a>

</li>

<li class="active">

		<h1>		<a id="notice-details-tab" href="notice-details-2">Notice details</a>
</h1>
</li>

 </ul>
</div>


  <!-- #EndEditable -->





								<h2 class="heading-medium">Edit service of notice contact details</h2>

<div class="form-group">
            <label class="form-label" for="Contact_FirstName">First name </label>
            <input class="form-control" id="Contact_FirstName" maxlength="35" name="Contact.FirstName" type="text" value="John" />
        </div>
        <div class="form-group">

            <label class="form-label" for="Contact_LastName">Last name </label>
            <input class="form-control" id="Contact_LastName" maxlength="35" name="Contact.LastName" type="text" value="Smith" />
        </div>
        <div class="form-group">

            <label class="form-label" for="Contact_Position">Position </label>
            <input class="form-control" id="Contact_Position" maxlength="35" name="Contact.Position" type="text" value="Scheme Leader" />
        </div>

	<div class="form-group">
	    <label class="form-label" for="OrganisationAddress_Telephone">Phone </label>

	    <input class="form-control" id="OrganisationAddress_Telephone" maxlength="20" name="OrganisationAddress.Telephone" type="text" value="01482 000 000" />
	</div>

	<div class="form-group">
	    <label class="form-label" for="OrganisationAddress_Email">Email </label>

	    <input class="form-control" id="OrganisationAddress_Email" maxlength="256" name="OrganisationAddress.Email" type="text" value="test@test.com" />
	</div>        <div class="form-group">
	            <a class="button" href="notice-details-2">Save and Continue</a>
	        </div>


</div>

             </section>


    </div>
</div>
</main>


            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
