{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}


<!-- #EndEditable -->
<style>
.font-bold {

	font-weight: 700;
}
</style>
</head>

<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>




<!--end header-->



<main id="content">
	<div class="phase-banner">
			<p>
					<strong class="phase-tag">BETA</strong>
					<span>This is a new service – your <a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
			</p>
	</div>

  <!-- #BeginEditable "banner" -->
<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
            <ul>
                <li>
                    Organisation: Loads of Schemes Ltd
                </li>

                <li>
                    <a href="/weee/1/scheme/f48cca5a-da72-4e60-bb16-a51a01033c3e/home/choose-activity">Activity</a>: View producer details
                </li>



            </ul>
        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">
            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
                    <form action="/weee/1/account/sign-out" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="X8BvF4Z88cI5XLLUFn7SKdcUIqwAVVQgd01RgxXsO0vvVM63al1e7k8F-EfcqjiuJgu4nEF1Tfuwh62y5ZPkCZZ40VdocI3ASY3OcVedTMyBGr-HLant0AozyRQWMmqTm4BkhI28IyFhjlRHO2V0vg2" />                        <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>



  <!-- #EndEditable -->
    <div class="grid-row">

      <div class="column-two-thirds">

<section>


	                <header class="hgroup">
	                    <h1 class="heading-xlarge">
	                        <!-- #BeginEditable "header" -->
	            Scheme details
	                                <!-- #EndEditable -->
	                    </h1>
	                </header>
	                <!-- ========================================================================================================== -->
	                <!-- ========================================================================================================== -->
	                <!-- ========================================================================================================== -->
	                <!-- #BeginEditable "body" -->
									<p>
			        <span class="font-bold">Compliance year:</span><span class="text-margin">&nbsp;&nbsp;&nbsp;2017</span><br>
			        <span class="font-bold">Producer registration number (PRN):</span><span class="text-margin">&nbsp;&nbsp;&nbsp;WEE/MM3300AA</span>
			    </p>
<p><a href="index">Registration</a>&nbsp;&nbsp;|&nbsp;&nbsp;EEE data&nbsp;&nbsp;|&nbsp;&nbsp;<a href="organisation-details">Organisation details</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="notice-details">Notice details</a></p>


<p>Total EEE&nbsp;&nbsp;|&nbsp;&nbsp;Q1&nbsp;&nbsp;|&nbsp;&nbsp;Q2&nbsp;&nbsp;|&nbsp;&nbsp;Q3&nbsp;&nbsp;|&nbsp;&nbsp;Q4</p>


<table>
	<tr>
		<th>Category</th>
		<th>B2C (Tonnes)</th>
		<th>B2B (Tonnes)</th>
	</tr>
	<tr>
		<td>1 - Large household applicances</td>
		<td>22,873.292</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>2 - Small household applicances</td>
		<td>7,011.352</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>3 - IT and telecommunications equipment</td>
		<td>10,104.200</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>4 - Consumer equipment</td>
		<td>3,784.884</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>5 - Lighting equipment</td>
		<td>0.000</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>6 - Electrical and electronic tools</td>
		<td>1,150.148</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>7 - Toys, leisure and sports equipment</td>
		<td>722.736</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>8 - Medical devices</td>
		<td>55.264</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>9 - Monitoring and control instruments</td>
		<td>1,125.912</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>10 - Automatic dispensers</td>
		<td>4.584</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>11 - Display screens</td>
		<td>4,089.760</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>12 - Cooling applicances</td>
		<td>22,715.396</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>13 - Gas discharge lamps and LED light sources</td>
		<td>1,724.864</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>14 - Photovoltaic panels</td>
		<td>94.172</td>
		<td>0.000</td>
	</tr>

</table>
<br/>




	    </div>
	    </form>

	  </div>




        </section>
    </div>
</div>
</main>


            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
