{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}


<!-- #EndEditable -->
<style>
.font-bold {

	font-weight: 700;
}

.noMargin {
margin-bottom:10px;
padding-bottom: 0px;

}


</style>


</head>

<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>




<!--end header-->



<main id="content">
	<div class="phase-banner">
			<p>
					<strong class="phase-tag">BETA</strong>
					<span>This is a new service – your <a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
			</p>
	</div>

  <!-- #BeginEditable "banner" -->
<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
            <ul>


                <li>
                    <a href="">Activity</a>: Manage PCSs
                </li>
								<li>
										<a href="which-scheme">Organisation:</a> Demo Scheme 1
								</li>


            </ul>
        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">
            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
                    <form action="/weee/1/account/sign-out" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="X8BvF4Z88cI5XLLUFn7SKdcUIqwAVVQgd01RgxXsO0vvVM63al1e7k8F-EfcqjiuJgu4nEF1Tfuwh62y5ZPkCZZ40VdocI3ASY3OcVedTMyBGr-HLant0AozyRQWMmqTm4BkhI28IyFhjlRHO2V0vg2" />                        <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>



  <!-- #EndEditable -->
    <div class="grid-row">

      <div class="column-two-thirds">

<section>


	                <header class="hgroup">
	                    <h1 class="heading-xlarge noMargin">
	                        <!-- #BeginEditable "header" -->
	            Demo Scheme 1

	                                <!-- #EndEditable -->
	                    </h1>
											
											<a href="which-scheme">Select a different PCS</a>

	                </header>
	                <!-- ========================================================================================================== -->
	                <!-- ========================================================================================================== -->
	                <!-- ========================================================================================================== -->
	                <!-- #BeginEditable "body" -->

									<div class="section-tabs js-tabs">
	    <ul>

	                <li class="active" >

	<h1>                        <a id="pcs-details-tab" href="index-2">PCS details</a>
	</h1>
	                </li>
	                <li>

	                        <a id="organisation-details-tab" href="organisation-details">Organisation details</a>

	                </li>
									<li>

	                        <a id="contact-details-tab" href="contact-details">Contact details</a>

	                </li>

									<li>

	                        <a id="notice-details-tab" href="notice-details">Notice details</a>

	                </li>

	                 </ul>
	</div>

	<table>
	    <tbody>
	      <tr>
	        <th>PCS name</th>
	        <td>Demo Scheme 1</td>

	      </tr>
	      <tr>
	        <th>Approval number</th>
	        <td>WEE/TE0016ST/SCH</td>

	      </tr>
	      <tr>
	       <th>Billing reference (optional)</th>
	        <td></td>

	      </tr>
	      <tr>
	       <th>Obligation type</th>
	        <td>B2B</td>

	      </tr>
	      <tr>
	        <th>Appropriate Authority</th>
	        <td>Environment Agency</td>

	      </tr>
	      <tr>
	        <th>Authorisation status</th>
	        <td>Pending</td>

	      </tr>
			</table>
		  <br/>
		  <p> <a href="edit-pcs">Edit PCS details</a></p>
		<h2 class="heading-medium">PCS members</h2>
		<p><a href="javascript:alert('Downloads full member list CSV');">Download 2016 full member list (CSV)</a></p>
		<p><a href="javascript:alert('Downloads full member list CSV');">Download 2015 full member list (CSV)</a></p>



        </section>
    </div>
</div>
</main>


            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
