{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}


<!-- #EndEditable -->
<style>
.font-bold {

	font-weight: 700;
}
</style>

</head>

<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>




<!--end header-->



<main id="content">
	<div class="phase-banner">
			<p>
					<strong class="phase-tag">BETA</strong>
					<span>This is a new service – your <a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
			</p>
	</div>

  <!-- #BeginEditable "banner" -->
<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
            <ul>
                <li>
                    Organisation: Loads of Schemes Ltd
                </li>

                <li>
                    <a href="/weee/1/scheme/f48cca5a-da72-4e60-bb16-a51a01033c3e/home/choose-activity">Activity</a>: Create an organisation
                </li>



            </ul>
        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">
            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
                    <form action="/weee/1/account/sign-out" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="X8BvF4Z88cI5XLLUFn7SKdcUIqwAVVQgd01RgxXsO0vvVM63al1e7k8F-EfcqjiuJgu4nEF1Tfuwh62y5ZPkCZZ40VdocI3ASY3OcVedTMyBGr-HLant0AozyRQWMmqTm4BkhI28IyFhjlRHO2V0vg2" />                        <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>



  <!-- #EndEditable -->
    <div class="grid-row">

      <div class="column-two-thirds">

<section>


	                <header class="hgroup">
	                    <h1 class="heading-xlarge">
	                        <!-- #BeginEditable "header" -->
	            Scheme details
	                                <!-- #EndEditable -->
	                    </h1>
	                </header>
	                <!-- ========================================================================================================== -->
	                <!-- ========================================================================================================== -->
	                <!-- ========================================================================================================== -->
	                <!-- #BeginEditable "body" -->
									<p>
			        <span class="font-bold">Compliance year:</span><span class="text-margin">&nbsp;&nbsp;&nbsp;2017</span><br>
			        <span class="font-bold">Producer registration number (PRN):</span><span class="text-margin">&nbsp;&nbsp;&nbsp;WEE/MM3300AA</span>
			    </p>
<p><a href="index">Registration</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="eee-data">EEE data</a>&nbsp;&nbsp;|&nbsp;&nbsp;Organisation details&nbsp;&nbsp;|&nbsp;&nbsp;<a href="notice-details">Notice details</a></p>
<h2 class="heading-medium">Organisation details</h2>
<table>

		<tr>
			<th>Organisation type</th>
			<td>Registered company</td>
			<td></td>
		</tr>
		<tr>
			<th>Company name</th>
			<td>Waste For You Ltd</td>
			<td></td>
		</tr>
		<tr>
		 <th>Company registration number (CRN)</th>
			<td>012345678</td>
			<td></td>
		</tr>
		<tr>
			<th>Business trading name</th>
			<td>Waste For You</td>
			<td></td>
</tr>
		<tr>
			<td colspan="3">
				<br/>
				<p><a href="view-organisation-details.html">View full organisation details</a></p>
				<h2 class="heading-medium">Organisation contact details</h2>
			</td>
		</tr>
		<tr>
			<th>Full name</th>
			<td>Dorothy Smith</td>

		</tr>
		<tr>
			<th>Position</th>
			<td>Company Administrator</td>

		</tr>
		<tr>
		 <th valign="top">Address</th>
			<td valign="top">2 Waste Court<br/>Park Street<br/>Bristol<br/>Somerset<br/>BR1 2AU<br/>United Kingdom</td>

		</tr>
		<tr>
			<th>Telephone</th>
			<td>01782 333 444</td>

</tr>
<tr>
	<th>Email address</th>
	<td>wasteforyou@waste.co.uk</td>

</tr>
	</tbody>
</table>
<br/>
<p> <a href="edit-organisation-contact.html">Edit organisation contact details</a></p>

	    <div class="form-group">

	    <a href="manageschemes.html">Back</a>
	    </div>
	    </form>

	  </div>




        </section>
    </div>
</div>
</main>


            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
