{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}


<!-- #EndEditable -->

</head>

<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>




<!--end header-->



<main id="content">
	<div class="phase-banner">
			<p>
					<strong class="phase-tag">BETA</strong>
					<span>This is a new service – your <a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
			</p>
	</div>

  <!-- #BeginEditable "banner" -->
<div class="grid-row">

    <div class="column-half">
        <div class="breadcrumb-title-display font-xsmall">
            <ul>
                <li>
                    Organisation: Loads of Schemes Ltd
                </li>

                <li>
                    <a href="/weee/1/scheme/f48cca5a-da72-4e60-bb16-a51a01033c3e/home/choose-activity">Activity</a>: View producer details
                </li>



            </ul>
        </div>
    </div>

    <div class="column-half">
        <div class="username-title-display font-xsmall">
            <ul>
                <li>
                    <div class="text-secondary">Signed in as: <span class="username-format">Sophie Ottaway</span></div>
                </li>
                <li>
                    <form action="/weee/1/account/sign-out" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="X8BvF4Z88cI5XLLUFn7SKdcUIqwAVVQgd01RgxXsO0vvVM63al1e7k8F-EfcqjiuJgu4nEF1Tfuwh62y5ZPkCZZ40VdocI3ASY3OcVedTMyBGr-HLant0AozyRQWMmqTm4BkhI28IyFhjlRHO2V0vg2" />                        <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="account-link-banner"></div>



  <!-- #EndEditable -->
	<div class="grid-row">
          <header class="hgroup">
              <h1 class="heading-large">
                  Which scheme would you like to manage?
              </h1>
          </header>
          <form action="index-2">
                                  <ul class='error-summary-list'>
                                      <li style='display:none'></li>
                                  </ul>
                              </div>        <div class="table-hr"></div>
<fieldset id="Selected">
                  <table id="Selected" class="prsd-table">
                      <thead>
                          <tr>
                              <th>Organisation name</th>
                              <th>Status</th>
                              <th>Select</th>
                          </tr>
                      </thead>
                      <tbody>
                              <tr>
                                  <td width="100%">A WEEE scheme</td>
                                  <td>Approved</td>
                                  <td><input id="A WEEE scheme" name="Selected" type="radio" value="A WEEE scheme" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">AA ELECTRONICS</td>
                                  <td>Approved</td>
                                  <td><input id="AA" name="Selected" type="radio" value="9a567389-9381-4886-a8df-a53200bbfc30" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">ABC Ltd</td>
                                  <td>Approved</td>
                                  <td><input id="ABC" name="Selected" type="radio" value="a7cdcfe3-331f-4ea3-b69b-a53000ec131d" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Accerio B.V.</td>
                                  <td>Approved</td>
                                  <td><input id="Accerio" name="Selected" type="radio" value="446ee3b5-6a03-4c2a-b485-a52f0131599d" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Advantage Waste Brokers Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Advantage" name="Selected" type="radio" value="9a23b747-caad-4f39-b963-a52f0131ab8d" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">ANOVO UK Ltd</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="0c732cdd-a69f-4c52-8a86-a52f0130cafc" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">B WEEE scheme</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="2fbbe0b7-1258-4711-88b8-a53d009eac74" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Budget Pack Ltd</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="10753a8d-a1ed-4552-9fb8-a52f0133b6b6" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Clarity Environmental Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="d0ec698d-c2ff-4fb5-bd61-a52f0132c70b" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Comply Direct Ltd</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="6b024d17-dc85-4a1d-9475-a52f0133073a" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Dataserv Compliance Services Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="8827b89e-47af-420b-9f0f-a52f01321240" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Datec Technologies Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="55246e07-f82f-48be-821b-a52f01335c2b" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">DHL Supply Chain Limited</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="4870c579-648b-49a2-8a74-a52f013371ef" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Electrolink Recycling Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="bdc4a3f8-2e59-45e1-9efd-a52f013279d4" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">ERP UK LTD</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="4060b070-667c-407b-842c-a52f0133fc88" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">GAMBICA B2B Compliance Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="f37703d6-c5e7-49a4-8a62-a52f01320aa7" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Helen&#39;s Latest Scheme</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="4f879204-6c92-4438-ba53-a53a00b7138a" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Helen&#39;s PCS</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="fe0a2562-2ff2-44a4-91e7-a53100a25643" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Helen&#39;s Recycling</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="f229b976-2e4f-402a-b713-a53201259767" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Interlevin Refrigeration Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="10cbce76-13d7-42a0-bd21-a530007ca553" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Lumicom Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="04618b8c-e9e2-488a-93dd-a530007ce8f9" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">New organisation</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="d740ace1-0d2f-4d54-a15c-a53a01286179" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Nilwaste Compliance Limited</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="44aa416b-3b73-47e0-96f0-a530007d467e" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Northern Compliance Limited</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="f1d125f7-0b84-467a-8f19-a530007d8ece" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">OrgA</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="10705bae-810c-48f8-b454-a53800e143a4" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">OrgB</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="d9a74c45-3847-4bb4-a3cc-a539011ab64e" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Paper Collect Company Limited</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="b5d7c0c5-612c-4023-a454-a530007de666" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Powell&#39;s Towels</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="0b0e5402-879a-40e5-8f75-a53100b3cac3" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">PV CYCLE a.i.s.b.l.</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="fd3a3025-8897-4213-b96f-a530007e2f9c" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Recycle Telecom Ltd</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="704ceace-7bca-464f-9f77-a53900e3b611" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Repscot Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="e654fa62-02b2-457e-a3c0-a52f0132c260" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Sophie&#39;s Test Company</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="31b08d55-a12d-4a06-a0f5-a53300b711b6" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Thinkstep Compliance Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="7d06fedb-f6ae-4693-9d52-a52f01326dfc" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Valpak Ltd</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="5b4d644d-a9b4-4368-be87-a53300b1c1b2" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">Valpak Scotland Limited</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="677221a8-7ebb-4521-bad0-a52f013308a7" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">WEEE Link Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="616c20b7-7378-4442-aaed-a52f0133ae41" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">WEEE scheme Ltd</td>
                                  <td>Approved</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="45d328fd-8124-474f-a31e-a53200dd97ad" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">WEEECare plc</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="cb66c520-736c-47d5-8b55-a52f01346b52" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">WEEEComply Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="11da0a4c-0f6b-4a16-a54e-a52f013439dc" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">WEEELight Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="5132e2ce-657d-44ce-adb5-a52f0133f996" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">WERCS Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="ef1f0682-98bd-44f1-bb47-a52f01349e6f" /></td>
                              </tr>
                              <tr>
                                  <td width="100%">XPO IT Services Ltd</td>
                                  <td>Pending</td>
                                  <td><input id="Selected" name="Selected" type="radio" value="1ab6982b-00f3-40e2-92bd-a52f0134d49a" /></td>
                              </tr>
                      </tbody>
                  </table>
                  <br/>
                  <div class="form-group">
                      <input type="submit" class="button" value="Continue" />
                  </div>
          </form>
        </div>
    </main>


            {{/content}}



            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
