{% extends "template.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "details/macro.njk" import govukDetails %}
{% from "error-message/macro.njk" import govukErrorMessage %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "input/macro.njk" import govukInput %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "panel/macro.njk" import govukPanel %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "radios/macro.njk" import govukRadios %}
{% from "select/macro.njk" import govukSelect %}
{% from "skip-link/macro.njk" import govukSkipLink %}
{% from "table/macro.njk" import govukTable %}
{% from "tabs/macro.njk" import govukTabs %}
{% from "tag/macro.njk" import govukTag %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
<div class="govuk-phase-banner" style="margin: 0 auto; max-width: 950px;">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="feedback.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div  class="govuk-width-container "style="border-bottom: 1px solid rgb(191, 193, 195);" id="sign-in-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
          <div class="username-title-display font-xsmall"  style="padding: 5px; font-family: 'nta',Arial,sans-serif; font-weight: 400; text-transform: none; margin: 0 auto; ">
            <ul id="activity-banner" style="margin-top: 0px; margin-bottom: 0px; list-style-type:none; padding-left: 0;">
              <li>
                
                  <span style="text-decoration:underline; font-weight: bold;">Organisation:</span>
                  <span class="username-format" style="color: #0b0c0c">ABB Ltd</span>
                
              </li>
              <li>
                <span style="text-decoration:underline; font-weight: bold;">Activity:</span>
                <span class="username-format">AATF return</span>
              </li>
            </ul>
          </div>
        </div>
    <div class="govuk-grid-column-one-half">
        <div class="username-title-display font-xsmall"  style="text-align: right; padding: 5px; font-family: 'nta',Arial,sans-serif; font-weight: 400; text-transform: none; margin: 0 auto; float: right;">
          <ul style="margin-top: 0px; margin-bottom: 0px; list-style-type:none;">
            <li>
              <div class="text-secondary" style="color: #6f777b">
                Signed in as:
                <span class="username-format" style="font-weight: bold; color: #0b0c0c">Trevor Phillips</span>
              </div>
            </li>
            <li>
              <a class="link-submit" href="#" style="font-size: 16p; line-height: 1.25; font-family: 'nta',Arial,sans-serif; font-weight:400; text-transform: none;">Sign
                out</a>
            </li>
          </ul>
        </div>
    </div>
    
  </div>
</div>

<!-- <div class="username-title-display font-xsmall" id="sign-in-banner" style="border-bottom: 1px solid rgb(191, 193, 195); text-align: right; padding: 5px; font-family: 'nta',Arial,sans-serif; font-weight: 400; text-transform: none; margin: 0 auto; max-width: 950px; display: block;">
  <ul style="margin-top: 0px; margin-bottom: 0px; list-style-type: none;width: 40%; float:right; text-align: left;">
    <li>
      <div class="text-secondary" style="color: #6f777b">
        Signed in as:
        <span class="username-format" style="font-weight: bold; color: #0b0c0c">Trevor Phillips</span>
      </div>
    </li>
    <li>
      <a class="link-submit" href="#" style="font-size: 16p; line-height: 1.25; font-family: 'nta',Arial,sans-serif; font-weight:400; text-transform: none;">Sign
        out</a>
    </li>
  </ul>
</div>
  <div>
  <ul style="margin-top: 0px; margin-bottom: 0px; list-style-type: none; width: 40%; float:right; text-align: left;">
    <li>
      <div class="text-secondary" style="color: #6f777b">
        Organisation:
        <span class="username-format" style="font-weight: bold; color: #0b0c0c">ABB Ltd</span>
      </div>
    </li>
    <li>
      <div class="text-secondary" style="color: #6f777b;">
        Activity:
        <span class="username-format" style="font-weight: bold; color: #0b0c0c">AATF quarterly return</span>
      </div>
    </li>
  </ul>
</div>

</div> -->
</div>
{% endblock %}

{% if useAutoStoreData %}
{% block footer %}

<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__navigation">
      <div class="govuk-footer__section"  style="border-bottom: 1px rgb(191, 193, 195) solid">
        <h2 class="govuk-footer__heading govuk-heading-m govuk-!-margin-bottom-2" style="border-bottom: 0px;">Contact us</h2>
        <ul class="govuk-footer__list govuk-footer__list--columns-2">
          <li class="govuk-footer__list-item">
            <h4 class="govuk-heading-s">England</h4>
            <p class="govuk-body govuk-body govuk-!-font-size-16">Environment Agency<br/>
            Producer Responsibility Regulatory Services<br/>
            Telephone: 03708 506 506</p>
          </li>
          <li class="govuk-footer__list-item">
              <h4 class="govuk-heading-s">Scotland</h4>
              <p class="govuk-body govuk-body govuk-!-font-size-16">Scottish Environment Protection Agency<br/>
                Producer Compliance and Waste Shipments Unit<br/>
                Telephone: 01786 457700</p>
          </li>
          <li class="govuk-footer__list-item">
              <h4 class="govuk-heading-s">Northern Ireland</h4>
              <p class="govuk-body govuk-body govuk-!-font-size-16">Northern Ireland Environment Agency<br/>
                Producer Responsibility Unit<br/>
                Telephone: 02 890 569338</p>
          </li>
          <li class="govuk-footer__list-item">
              <h4 class="govuk-heading-s">Wales</h4>
              <p class="govuk-body govuk-body govuk-!-font-size-16">Natural Resources Wales<br/>
                Producer Responsibility Unit<br/>
                Telephone: 03000 65 3096</p>
          </li>
        </ul>
      </div>
      <hr class="govuk-footer__section-break">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow govuk-!-margin-left-6">
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="#">
                Terms and conditions
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="#">
                Privacy
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="#">
                Cookies
              </a>
            </li>
          </ul>

          <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 483.2 195.7" height="17" width="41">
            <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
          </svg>
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
        <div class="govuk-footer__meta-item">
          <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
            Crown copyright</a>
        </div>
      </div>
    </div>
</footer>

{% endblock %}
{% endif %}

{% block bodyEnd %}
{% block scripts %}
{% include "includes/scripts.html" %}
{% block pageScripts %}{% endblock %}
{% endblock %}
<!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}