{% extends "version1-9/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">Have you received any non-obligated WEEE on behalf of a designated collection facility (DCF)?</h2>
<p class="govuk-body">This is WEEE that a DCF operator has retained under regulation 53 and has sent to you for treatment.</p>
<div class="govuk-!-padding-bottom-5"></div>
<form action="/version1-9/AATF-Returns/non-obligated-weee-DCF-answer" method="post" class="form" style="display: block">
    <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="non-obligated-weee-DCF-yes" name="non-obligated-weee-DCF" type="radio"
                value="true">
            <label class="govuk-label govuk-radios__label" for="non-obligated-weee-DCF-yes">
                Yes
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="non-obligated-weee-DCF-no" name="non-obligated-weee-DCF" type="radio"
                value="false">
            <label class="govuk-label govuk-radios__label" for="non-obligated-weee-DCF-no">
                No
            </label>
        </div>
    </div>
    <div class="govuk-!-padding-bottom-5"></div>
    <button type="submit" class="govuk-button">
        Continue
    </button>
</form>

{% endblock %}