{% extends "version1-9/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l" style="padding-top: 0px;">Have you sent any WEEE to any other AATFs or ATFs for treatment?</h2>
<p class="govuk-body">This is WEEE that you received at this AATF but not treated and was sent on for treatment elsewhere.</p>
<div class="govuk-!-padding-bottom-5"></div>
<form action="/version1-9/AATF-Returns/whole-weee-answer" method="post" class="form" style="display: inline">
 
    <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whole-weee-yes" name="whole-weee" type="radio" value="true">
            <label class="govuk-label govuk-radios__label" for="whole-weee-yes">
                Yes
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whole-weee-no" name="whole-weee" type="radio" value="false">
            <label class="govuk-label govuk-radios__label" for="whole-weee-no">
                No
            </label>
        </div>
    </div>
    <div class="govuk-!-padding-bottom-5"></div>
    <button type="submit" class="govuk-button" id="are-you-sending-any-whole-wee-to-atf">
        Continue
    </button>
</form>

{% endblock %}