{% extends "version1-4/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">AATF quarterly return</h2>
<div class="govuk-!-padding-bottom-7"></div>
<h3 class="govuk-heading-m">
    <a href="SC002_1-My-facilities" class="govuk-link govuk-link--no-visited-state">Make an AATF
        quarterly return online</a>
</h3>
<p class="govuk-!-width-three-quarters">Make an AATF quarterly return by reporting on non obligated WEEE, DCF data, WEEE sent to another ATF for treatment and WEEE reused as a whole appliance</p>
<div class="govuk-!-padding-bottom-7"></div>
<h3 class="govuk-heading-m">
    <a href="#" class="govuk-link govuk-link--no-visited-state">Make an AATF quarterly return via upload</a>
</h3>
<p class="govuk-!-width-three-quarters">Download an AATF template to upload a quarterly return</p>
<div class="govuk-!-padding-bottom-7"></div>
<h3 class="govuk-heading-m">
    <a href="#" class="govuk-link govuk-link--no-visited-state">Manage my AATF quarterly returns</a>
</h3>
<p class="govuk-!-width-three-quarters"></p>

<div class="govuk-!-padding-bottom-7"></div>

{% endblock %}