{% extends "version1-4/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">AATF quarterly return</h2>
<div class="govuk-!-padding-bottom-7"></div>
<form action="/version1-4/AATF-Returns/aatf-option-select" method="post" class="form">
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="aatf-return-option-1" name="aatf-return-option" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="aatf-return-option-1">
                    Make an AATF quarterly return
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="aatf-return-option-2" name="aatf-return-option" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="aatf-return-option-2">
                    Make a nil AATF quarterly return
                </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="aatf-return-option-3" name="aatf-return-option" type="radio" value="abroad">
                <label class="govuk-label govuk-radios__label" for="aatf-return-option-3">
                    Upload an AATF quarterly return
                </label>
            </div>
        </div>
    </fieldset>
</div>
{{ govukButton({
    text: "Save and continue"
}) }}
</form>
{% endblock %}