{% extends "version1-4/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "details/macro.njk" import govukDetails %}
{% from "select/macro.njk" import govukSelect %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{{ govukBackLink({
text: "Back",
href: "SC004a-Non-Obligated-WEEE"
}) }}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<h2 class="govuk-heading-l">Select all facilities that you would like to report on?</h2>
<div class="govuk-!-padding-bottom-4"></div>
{{ govukSelect({
    id: "multipleFacilitySelect",
    name: "multipleFacilitySelect",
    classes: "govuk-!-width-one-half",
    items: [
    {
    value: "ABB Disposal Ltd_WEE/KP3538PF/ATF",
    text: "WEE/KP3538PF/ATF - ABB Disposal Ltd"
    },
    {
    value: "WEEE recycling limited_WEE/MP3338PT/ATF",
    text: "WEE/MP3338PT/ATF - WEEE recycling limited"
    },
    {
    value: "ABC Recycling Centre Ltd_WEE/MP3038PL/ATF",
    text: "WEE/MP3038PL/ATF - ABC Recycling Centre Ltd"
    },
    {
    value: "Waste traders limited_WEE/UP3538PY/ATF",
    text: "WEE/UP3538PY/ATF - Waste traders limited"
    }
    ]
    }) }}


{% endblock %}