{% extends "version1-4/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">Upload an AATF return</h2>
<div class="govuk-!-padding-bottom-7"></div>
<p class="govuk-body">Use this page to upload an AATF return. The document must be in XLSX format.</p>
<ul class="govuk-body">
    <li>The maximum size is ... MB</li>
    <li>You can only upload one AATF return at any one time</li>
    <li>The file should be in .XLSX format</li>
</ul>
<form action="/version1-4/AATF-Returns/upload-an-aatf-return-select" method="post" class="form">
    <div class="govuk-!-padding-bottom-4"></div>
    {{ govukFileUpload({
    id: "file-upload-1",
    name: "file-upload-1"
    }) }}
    <div class="govuk-!-padding-bottom-4"></div>
    {{ govukButton({
    text: "Upload file"
    }) }}
</form>
{% endblock %}