{% extends "version1-4/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">Is this file correct?</h2>
<div class="govuk-!-padding-bottom-7"></div>
<img src="../../../assets/images/icon-file-download.png" />
{{ data['file-upload-1'] }}
<form action="/version1-4/AATF-Returns/upload-an-aatf-return-is-this-correct" method="post" class="form">
    <div class="govuk-!-padding-bottom-4"></div>
    {{ govukButton({
    text: "Save and continue"
    }) }}
</form>
{% endblock %}