{% extends "version1-9/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<div style="width: 70%;">
<h2 class="govuk-heading-l">Your AATF quarterly return has passed our validation checks</h2>
<div class="govuk-!-padding-bottom-3"></div>
<p class="govuk-body">Your return has passed our validation checks but it is your responsibility to ensure all of the information that you provide is correct.</p><br/>
<p class="govuk-body">You can review your data prior to submitting it.</p>
<form action="/version1-9/Upload-Returns/upload-an-aatf-successful" method="post" class="form">
    <div class="govuk-!-padding-bottom-4"></div>
    {{ govukButton({
    text: "AATF Tasklist"
    }) }}
</form>
</div>
{% endblock %}