{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}



<main id="content" role="main">
	<div class="phase-banner">
	            <p>
	                <strong class="phase-tag">BETA</strong>
	                <span>This is a new service – your
					<a href="" target="_blank">feedback</a> will help us to improve it.</span>
	            </p>
	        </div>


<div class="grid-row">

<div class="column-half">
<div class="breadcrumb-title-display font-xsmall">
    <ul>


            <li>
                <a href="">Activity</a>: </li>

            <li>
            </li>

    </ul>
</div>
</div>

<div class="column-half">
<div class="username-title-display font-xsmall">
  <ul>
        <li>
            <div class="text-secondary">Signed in as: <span class="username-format">Susan Smith</span></div>
        </li>
        <li>
<form action="" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="eCzIfWzuMLjFN1jdi8ETodFPDiZvIg2ytPoi40_Zhsgc-pjTharcfJlvZFt7pREwfzNfrH_LvgqJ94MNm00Itez9O8ZpslIoZ9l9zROV-BLwjAfWGjAKaUAA7doF1Y0tKUKWnEDylMZgvRKhBPTJtg2" />
                <button class="link-submit" id="link-sign-out" type="submit">Sign out</button>
</form>
</li>
    </ul>
</div>
</div>

</div>
<div class="account-link-banner"></div>

<div class="grid-row">

    <section class="column-two-thirds">

			<header class="hgroup">
					<h1 class="heading-large">
							Producer details and EEE data
							</h1>
			</header>
			<!-- ========================================================================================================== -->
			<!-- ========================================================================================================== -->
			<!-- ========================================================================================================== -->

<p>Scheme B has submitted EEE data for the following producer in 2016:

<h3 class="heading-small">WEE/MM0900AA</h3>
<br/>
<p><a href="index-2">Registration details</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="eee-data-cumulative-1">Total EEE</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="eee-data-q1-1">Q1</a>&nbsp;&nbsp;|&nbsp;&nbsp;Q2&nbsp;&nbsp;|&nbsp;&nbsp;<a href="eee-data-q3-1">Q3</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="eee-data-q4-1">Q4</a></p>
<table>
	<tr>
		<th>Category</th>
		<th>B2C (Tonnes)</th>
		<th>B2B (Tonnes)</th>
	</tr>
	<tr>
		<td>1 - Large household applicances</td>
		<td>5,415.227</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>2 - Small household applicances</td>
		<td>1,548.059</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>3 - IT and telecommunications equipment</td>
		<td>2,421.251</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>4 - Consumer equipment</td>
		<td>1,413.858</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>5 - Lighting equipment</td>
		<td>0.000</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>6 - Electrical and electronic tools<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(with the exception of large scale stationary tools)</td>
		<td>379.097</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>7 - Toys, leisure and sports equipment</td>
		<td>171.967</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>8 - Medical devices <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(with the exception of all implanted and infected<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;products)</td>
		<td>19.375</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>9 - Monitoring and control instruments</td>
		<td>246.118</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>10 - Automatic dispensers</td>
		<td>0.000</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>11 - Display screens</td>
		<td>651.780</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>12 - Cooling applicances</td>
		<td>4,875.607</td>
		<td>0.000</td>
	</tr>
	<tr>
		<td>13 - Gas discharge lamps and LED light sources</td>
		<td>365.759</td>
		<td>6.333</td>
	</tr>
	<tr>
		<td>14 - Photovoltaic panels</td>
		<td>23.543</td>
		<td>6.333</td>
	</tr>

</table>

<br/>
<p><a href="javascript:alert('Prototype only');">Download EEE data (CSV)</a></p>
<p><a href="javascript:alert('Prototype only');">Download amendment history (CSV)</a></p>

<p><a class="button" href="index-new">Perform another activity</a></p>

            </section>
            </main>



            {{/content}}

            {{$bodyEnd}}

            {{/bodyEnd}}




            {{/layout}}
