{% extends "layout.html" %}
{% block content %}


<link rel="stylesheet" href="/public/css/font-awesome.css">
<link rel="stylesheet" href="/public/css/jquery-ui.min.css">
<link rel="stylesheet" href="/public/css/weee-page.css">

<div> 
    <label id="prototype-select-label" class="govuk-label" for="prototype-select">Date</label>
    <input autocomplete="off" class="form-control govuk-input" id="StartDate" maxlength="256" name="StartDate" placeholder="dd/mm/yyyy" type="text" value="">
    
    
{% endblock %}





