

{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
<section class="column-two-thirds">
	<h1 class="heading-xlarge">WEEE Prototypes</h1>
	<!-- feel free to change this page to suit your needs -->
	Prototypes of journeys for internal users in the WEEE online service.

<h2 class="heading-medium">External prototypes</h2>
<table>
	<tr>
		<th>Prototype</th>
		<th>Notes</th>
		<th>Version</th>
		<th>Journey map (JPG)</th>
	</tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</table>
<br/>
<h2 class="heading-medium">Internal prototypes</h2>
<table>
	<tr>
		<th>Prototype</th>
		<th>Notes</th>
		<th>Version</th>
		<th>Journey map (JPG)</th>
	</tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</table>
</section>
</main>



{{/content}}

{{$bodyEnd}}

{{/bodyEnd}}




{{/layout}}
