

{{<layout}}

{{$pageTitle}}
	WEEE Prototype Environment
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="phase-banner">
	            <p>
	                <strong class="phase-tag">BETA</strong>
	                <span>This is a new service – your
					<a href="../new-user/feedback" target="_blank">feedback</a> will help us to improve it.</span>
	            </p>
	        </div>
<section class="column-two-thirds">
	<h1 class="heading-xlarge">WEEE Prototypes</h1>
	<!-- feel free to change this page to suit your needs -->
	<p>Prototypes from December 2015 onwards.</p>
	<p>Prototypes created before this date can be found on the <a href="http://environmentagency.github.io/UX/weee/1/admin/index.html">old prototype repository.</a></p>


<h2 class="heading-medium">External prototypes</h2>
<table>
	<tr>
		<th>Prototype</th>
		<th>Notes</th>
		<th>Version</th>

	</tr>
	<tr>
	<td>View cumulative data</td>
	<td>New springboard - adds top-level WEEE/EEE data</td>
	<td><a href="/schemes/index">Version 1</a></td>
	</tr>
	<tr>
	<td></td>
	<td>Shows cumulative data for data returns as part of 'Manage data returns' journey</td>
	<td><a href="/schemes/index-2">Version 2</a></td>
	</tr>
</table>
<br/>
<h2 class="heading-medium">Internal prototypes</h2>
<table>
	<tr>
		<th>Prototype</th>
		<th>Notes</th>
		<th>Version</th>
	</tr>
	<tr>
	<td>Delete a producer</td>
	<td>Standard link</td>
	<td><a href="/producers/delete/index">Version 1 - Multiple years</a><br/><a href="/producers/delete/index-single">Version 1 - Single year</a></td>
</tr>
<tr>
<td></td>
<td>Red delete button</td>
<td><a href="/producers/delete/index-3">Version 2 - Multiple years</a><br/><a href="/producers/delete/index-3-single">Version 2 - Single year</a></td>
</tr>
<tr>
<td></td>
<td>From PCS name field</td>
<td><a href="/producers/delete/index-2">Version 3 - Multiple years</a><br/><a href="/producers/delete/index-2-single">Version 3 - Single year<br/></td>
</tr>
<tr>
<td>Disassociate producer</td>
<td>From PCS name field</td>
<td><a href="/producers/delete/index-4">Version 1</a></td>
</tr>
<tr>
<td></td>
<td>Red unalign button</td>
<td><a href="/producers/delete/index-5">Version 2</a></td>
</tr>
</table>




</section>
</main>



{{/content}}

{{$bodyEnd}}

{{/bodyEnd}}




{{/layout}}
