{% extends "layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<div class="govuk-!-padding-bottom-3"></div>
<h2 class="govuk-heading-l">What would you like to do?</h2>
<div class="govuk-!-padding-bottom-7"></div>
<h3 class="govuk-heading-m">
    <a href="/AATF-Returns/SC003-AATF-Reporting-Details" class="govuk-link govuk-link--no-visited-state">Make a
        quarterly return</a>
</h3>
<div class="govuk-!-padding-bottom-7"></div>

<h3 class="govuk-heading-m">
    <a href="#" class="govuk-link govuk-link--no-visited-state">Upload an AATF Quarterly Return</a>
</h3>
<div class="govuk-!-padding-bottom-7"></div>

<h3 class="govuk-heading-m">
    <a href="#" class="govuk-link govuk-link--no-visited-state">Create an AE return</a>
</h3>
<div class="govuk-!-padding-bottom-7"></div>

{% endblock %}