{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block content %}
<h1 class="govuk-heading-l">External prototypes</h2>
<h2 class="govuk-heading-m"><a>Version 1 (no Heroku version)</a></h3>
<p>Only Axure prototypes available</p>
<hr class="govuk-section-break govuk-section-break--visible">
<br />
<h2 class="govuk-heading-m"><a href="version-2/index">Version 2 Journey 1</a></h3>
<h3 class="govuk-heading-s">Click on these links to view the designed pages</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="version-2/201_Choose_activity_AATF">2.01 Choose activity AATF</a>
  </li>
  <li>
    <a href="version-2/202_Choose_site">2.02 Choose an AATF site</a>
  </li>
  <li>
    <a href="version-2/203_Manage_evidence">2.03 Manage Evidence</a>
  </li>
  <li>
    <a href="version-2/205_Create_evidence_note_with_protocol">2.05 Create evidence note (protocol)</a>
  </li>
  <li>
    <a href="version-2/205_Create_evidence_note_no_protocol">2.05 Create evidence note (no protocol)</a>
  </li>
  <li>
    <a href="version-2/205_Edit_evidence_note_with_protocol">2.05 Edit evidence note (protocol)</a>
  </li>
  <li>
    <a href="version-2/205_Edit_evidence_note_no_protocol">2.05 Edit evidence note (no protocol)</a>
  </li>
  <li>
    <a href="version-2/207a_View_evidence_note">2.07a View evidence note</a>
  </li>
  <li>
    <a href="version-2/transform-paste">transform paste</a>
  </li>
  <li>
    <a href="version-2/paste-values-screen">Paste values screen</a>
  </li>
</ul>

  <hr />
  
<h2 class="govuk-heading-m"><a href="version-2/index2">Version 2 Journey 2</a></h3>
<h3 class="govuk-heading-s">Click on these links to view the designed pages</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="version-2/208_Choose_activity_PCS?journey=2">2.08 Choose activity PCS</a>
  </li>
  <li>
    <a href="version-2/209_Manage_evidence">2.09 Manage Evidence</a>
  </li>
  <li>
    <a href="version-2/210_Review_evidence_note">2.10 Review evidence note</a>
  </li>
</ul>

  <hr />
  
<h2 class="govuk-heading-m"><a href="version-2/index3">Version 2 Journey 3</a></h3>
<h3 class="govuk-heading-s">Click on these links to view the designed pages</h2>
<blockquote>NOTE: development on these pages is frozen - layout can be viewed but interactivity is incomplete</blockquote>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="version-2/208_Choose_activity_PCS_journey_3">2.08 Choose activity PCS</a>
  </li>
  <li>
    <a href="version-2/214_Manage_evidence_tabs">2.14 Manage Evidence (tabs)</a>
  </li>
  <li>
    <a href="version-2/215_Transfer_evidence_note">2.15 Transfer evidence note</a>
  </li>
  <li>
    <a href="version-2/216_Selected_evidence_note">2.16 Selected evidence note</a>
  </li>
  <li>
    <a href="/version-2/journey-3/217-Transfer-note-init">2.17 Transfer note</a>
  </li>
</ul>


  <hr />
  
<h2 class="govuk-heading-m"><a href="version-2/index3">Version 3 - AATF Journey</a></h3>
<h3 class="govuk-heading-s">Click on these links to view the designed pages</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/version-2/aatf-journey/301-choose-activity-aatf">3.01 Choose activity AATF</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/302-choose-site">3.02 Choose site (if multiple sites)</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/303-manage-evidence">3.03 Manage evidence</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/305-create-evidence-note-no-protocol">3.05 Create evidence note (no protocol)</a>
  </li>
  <!--
  <li>
    <a href="/version-2/aatf-journey/307a-view-submitted-evidence-note">3.07a View submitted evidence note</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/307b-view-submitted-evidence-note">3.07b View draft evidence note</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/307c-view-submitted-evidence-note">3.07c View approved evidence note</a>
  </li>
  -->
</ul>



{% endblock %}
{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
