{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block content %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/tabs.js"></script>
<script>initTabs();</script>


<h1 class="govuk-heading-l"><a href="/version-2/pcs-journey-v4/index">Version 4 - PCS Journey</a></h1>
<h2 class="govuk-heading-s">Click on the link above to view the journey</h2>

<ul class="govuk-list govuk-list--bullet">

  <li>
    <a href="/version-2/pcs-journey-v4/411-choose-activity-pcs-init">4.11 Choose activity (PCS)</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/411-choose-site-init">4.11 Choose site</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/412-manage-evidence-init">4.12 Manage evidence notes</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/413-Review-evidence-init">4.13 Review evidence note</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/414-view-download-approved-evidence-init">4.14 Download Approved evidence</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/414-view-download-rejected-evidence-init">4.14a Download Rejected evidence</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/414-view-download-returned-evidence-init">4.14b Download Returned evidence</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/415-transfer-select-categories-init">4.15 Transfer (select categories)</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/416-choose-notes-to-transfer-from-init">4.16 Choose notes to transfer from</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/417-choose-tonnage-to-transfer-init"><b>4.17 Choose tonnage to transfer</b></a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/418-check-transfer-details-init"><b>4.18 Check transfer details</b></a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/419-view-transfer-note-after-submission-init"><b>4.19 View transfer note after submission</b></a>
  </li>
  <li>
    <a href="/version-2/pcs-journey-v4/420-view-note-1399-after-transfer-init">4.20 View original note after transfer (1399)</a>
  </li>
</ul>


<br />

  <hr class="govuk-section-break govuk-section-break--visible">



<h1 class="govuk-heading-l"><a href="/version-2/aatf-journey-v4/index">Version 4 - AATF Journey</a></h1>
<h2 class="govuk-heading-s">Click on the link above to view the journey</h2>

<!--
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/version-2/aatf-journey-v4/401-choose-activity-aatf">4.01 AATF Choose activity</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey-v4/402-choose-site">4.02 Choose site</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey-v4/403-manage-evidence">4.03 Manage evidence</a>
  </li>
  
  <li>
    <a href="/version-2/pcs-journey/311-Review-evidence">3.11 Review evidence</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/312-download-approved-evidence?id=1279&status=Approved">3.12 Download Approved evidence</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/314-transfer-evidence-note">3.14 Transfer evidence note to scheme</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/315-selected-evidence-notes">3.15 Selected evidence note</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/316-submit-transfer-note">3.16 Submit transfer note</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/317-view-transfer-note">3.17 View transfer note</a>
  </li>

</ul>
-->

<br />

  <hr class="govuk-section-break govuk-section-break--visible">


<h1 class="govuk-heading-l"><a href="/version-2/pcs-journey/index">Version 3 - PCS Journey</a></h1>
<h2 class="govuk-heading-s">Click on these links to view the designed pages</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/version-2/pcs-journey/309-choose-activity-pcs">3.09 PCS Choose activity</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/309-choose-site">3.09 Choose site (if multiple sites)</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/310-manage-evidence">3.10 Manage evidence</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/311-Review-evidence">3.11 Review evidence</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/312-download-approved-evidence?id=1279&status=Approved">3.12 Download Approved evidence</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/314-transfer-evidence-note">3.14 Transfer evidence note to scheme</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/315-selected-evidence-notes">3.15 Selected evidence note</a>
  </li>
  <li>
    <a href="/version-2/pcs-journey/316-submit-transfer-note">3.16 Submit transfer note</a>
  </li>

  <li>
    <a href="/version-2/pcs-journey/317-view-transfer-note">3.17 View transfer note</a>
  </li>
</ul>

<br />

  <hr class="govuk-section-break govuk-section-break--visible">

<h1 class="govuk-heading-l"><a href="/version-2/aatf-journey/index">Version 3 - AATF Journey</a></h1>
<h3 class="govuk-heading-s">WARNING: <br /> Please use the journey link above in preference as the pages below have not been checked individually</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/version-2/aatf-journey/301-choose-activity-aatf">3.01 Choose activity AATF</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/302-choose-site">3.02 Choose site (if multiple sites)</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/303-manage-evidence">3.03 Manage evidence</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/305-create-evidence-note">3.05 Create evidence note (no protocol)</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/307-view-evidence-note?id=1279&status=Submitted">3.07a View submitted evidence note</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/307-view-evidence-note?id=1279&status=Draft">3.07b View draft evidence note</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/307-view-evidence-note?id=1279&status=Approved">3.07c View approved evidence note</a>
  </li>
  <li>
    <a href="/version-2/aatf-journey/307-view-evidence-note?id=1279&status=Rejected">3.07d View rejected evidence note</a>
  </li>
</ul>

<br />

  <hr class="govuk-section-break govuk-section-break--visible">

<h1 class="govuk-heading-l"><a href="/version-2/journey3/index">Version 2 Journey 3</a></h1>
<h2 class="govuk-heading-s">Click on these links to view the designed pages</h2>
<h3 class="govuk-heading-s">NOTE: development on these pages is frozen - layout can be viewed but interactivity is incomplete</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="version-2/208_Choose_activity_PCS_journey_3">2.08 Choose activity PCS</a>
  </li>
  <li>
    <a href="version-2/214_Manage_evidence_tabs">2.14 Manage Evidence (tabs)</a>
  </li>
  <li>
    <a href="version-2/215_Transfer_evidence_note">2.15 Transfer evidence note</a>
  </li>
  <li>
    <a href="version-2/216_Selected_evidence_note">2.16 Selected evidence note</a>
  </li>
  <li>
    <a href="/version-2/journey-3/217-Transfer-note-init">2.17 Transfer note</a>
  </li>
</ul>

<br />

  <hr class="govuk-section-break govuk-section-break--visible">

<h1 class="govuk-heading-l"><a href="/version-2/journey2/index">Version 2 Journey 2</a></h1>
<h2 class="govuk-heading-s">Click on these links to view the designed pages</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="version-2/208_Choose_activity_PCS_journey_2">2.08 Choose activity PCS</a>
  </li>
  <li>
    <a href="version-2/209_Manage_evidence">2.09 Manage Evidence</a>
  </li>
  <li>
    <a href="version-2/210_Review_evidence_note">2.10 Review evidence note</a>
  </li>
</ul>

<br />

  <hr class="govuk-section-break govuk-section-break--visible">

<h1 class="govuk-heading-l"><a href="/version-2/journey1/index">Version 2 Journey 1</a></h1>
<h2 class="govuk-heading-s">Click on these links to view the designed pages</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/version-2/201_Choose_activity_AATF">2.01 Choose activity AATF</a>
  </li>
  <li>
    <a href="/version-2/202_Choose_site">2.02 Choose an AATF site</a>
  </li>
  <li>
    <a href="/version-2/203_Manage_evidence">2.03 Manage Evidence</a>
  </li>
  <li>
    <a href="/version-2/205_Create_evidence_note_with_protocol">2.05 Create evidence note (protocol)</a>
  </li>
  <li>
    <a href="/version-2/205_Create_evidence_note_no_protocol">2.05 Create evidence note (no protocol)</a>
  </li>
  <li>
    <a href="/version-2/205_Edit_evidence_note_with_protocol">2.05 Edit evidence note (protocol)</a>
  </li>
  <li>
    <a href="/version-2/205_Edit_evidence_note_no_protocol">2.05 Edit evidence note (no protocol)</a>
  </li>
  <li>
    <a href="/version-2/journey1/view-submitted-evidence-note">2.07a View submitted evidence note</a>
  </li>
  <li>
    <a href="/version-2/journey1/view-submitted-evidence-note">2.07b View draft evidence note</a>
  </li>
  <li>
    <a href="/version-2/transform-paste">transform paste</a>
  </li>
  <li>
    <a href="/version-2/paste-values-screen">Paste values screen</a>
  </li>
</ul>

<br />

  <hr class="govuk-section-break govuk-section-break--visible">

<h1 class="govuk-heading-l">External prototypes</h2>
<h2 class="govuk-heading-m"><a>Version 1 (no Heroku version)</a></h2>
<p>Only Axure prototypes available</p>


{% endblock %}
{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
