{% extends "version1-8/layout.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
    #main-content {
        padding-top: 0px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#file-upload-1').click(function(event) {
            $('#file-upload-text').text($('#fileName').val() + '.xlsx');
            $('#upload-button').css('display', 'block');
            event.preventDefault();
        });
    });
</script>
<div class="govuk-!-padding-bottom-3"></div>
{% if data['firstUpload'] === 'false' %}
<h2 class="govuk-heading-l">Reupload data for {{data['selectedFacility']._name}}</h2>
{% else %}
<h2 class="govuk-heading-l">Upload data for {{data['selectedFacility']._name}}</h2>
{% endif %}
<div class="govuk-!-padding-bottom-3"></div>
<p class="govuk-body">Use this page to upload your AATF data. The document you upload must be in .xlsx format. <br />
    Download the template to upload <a href="/public/doc/return2.xlsx" download class="govuk-link govuk-link--no-visited-state">here</a></p>

<form action="/version1-8/Upload-Returns/upload-an-aatf-return-select" method="get" class="form" style="display: inline">
    <div class="govuk-!-padding-bottom-4"></div>
    <button class="govuk-file-upload" id="file-upload-1">Choose file</button>
    <p class="govuk-body" style="display:inline; margin-left: 5px;" id="file-upload-text">No file chosen</p>
    <input type="hidden" name="firstUpload" value='{{ data["firstUpload"] }}'>
    <input type="hidden" name="fileName" id="fileName" value='{{data["selectedFacility"]._name}}'>
    <div class="govuk-!-padding-bottom-7"></div>
    <button type="submit" class="govuk-button" style="display: none;" id="upload-button">
        Continue
    </button>
</form>


{% endblock %}